h2{
	margin: 0;
}
.mainImage {
	width: 100%;
}
.logo {
	width: 15%;
    margin-left: calc(50% - 7.5%);
}
.navBarLinks {
	display: block;
	background: #ef9502;
	margin-top: .1%;
	margin-right: .1%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 50;
}
.navBarLinks tbody {
	display: inline-block;
}
.navBarLinks tr {
	margin-left: 10%;
}
.navBarLinks th {
	display: inline-block;
    color: #ffffff;
    font-size: calc(.75vw + .75vh);
    font-family: "Bodoni MT";
    font-weight: bold;
    padding: calc(.3vw + .3vh);
    padding-right: calc(1vw + 1vh);
}
.navBarLinks th:first-child {
	padding-left: calc(1vw + 1vh);
}
.mainOverlay{
	display: block;
	position: absolute;
	width: 20vw;
	top: calc(2vw + 2vh);
	left: calc(2vw + 2vh);
	z-index: 50;
}
.mainOverlay h3{
	font-family: "Bodoni MT";
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 2vw;
	padding: calc(.5vh + .5vw);
	padding-bottom: 0;
}
.learn {
	width: 50%;
	margin-left: 25%;
	background: #ef9502;
}
.learn h1{
	color: #ffffff;
	font-family: 'rockwell';
	text-align: center;
	font-size: 1.5vw;
	font-weight: bold;
	padding: .2vw;
}
.motto {
	width: 40%;
	margin-left: 30%;
	margin-top: 5vh;
    margin-bottom: 5vh;
}
.mid_page{
	width: 100%;
	border-top: 3px dashed #ef9502;
	border-bottom: 3px dashed #ef9502;
	height: 100%;
}
.sidebar{
	width: 20.8vw;
	border-right: 3px dashed #ef9502;
}
.projectSpot{
	float: left;
}
.projectSpot h2{
	font-size: 1.5vw;
}
#project_title{
	color: gray;
	font-family: 'bodoni';
	padding: calc(.5vw + .5vh);
	margin:0;
}
.panel {
	background: #f3f3f3;
    display: inline-block;
    vertical-align: top;
    max-width: 78vw;
}
#project_spotlight{
	width: 20vw;
}
#project_scrollBox {
	display: inline-block;
	width: 25vw;
	overflow-y: scroll;
	overflow-x: hidden;
	vertical-align: top;
	list-style: none;
	padding-left: 2vw;
	border-left: .3vw solid gray;
	max-height: 15vw;
}
#project_scrollBox li{
	margin-top: 1vh;
	margin-bottom: 1vh;
}
#project_scrollBox::-webkit-scrollbar{
	display: none;
}
.project_selected{
	font-weight: bold;
	font-size: 1vw;
	color: black;
	cursor: pointer;
}
.project_unselected{
	font-style: italic;
	font-size: .8vw;
	color: gray;
	cursor: pointer;
}
.desc_box {
	display: inline-block;
	vertical-align: top;
	width: 25vw;
	margin-left: 1vw;
}
.gotoproject {
	display: block;
	margin-top:1vw;
	margin-bottom: 1vw;
	width: 12vw;
	cursor: pointer;
}
.desc_content{
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 7vw;
	font-size: 1.25vw;
	margin-bottom: 0;
	margin-top: 1vw;
}
#js-flickr-gallery ul{
	margin-top: 1vw;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}
#js-flickr-gallery img{
	width: 5vw;
}
.span1{
	width: 5vw;
	display: inline-block;
	max-height: 5vw;
}
.pagination{
	display: none;
}
li.span1 a {
    padding: 0;
}