{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Board</title>
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/board/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div>
		<img class="mainImage" src="{% static 'images/board/board_photo.png' %}"/>
		<img class="quote" src="{% static 'images/board/board_quote.png' %}"/>
	</div>

	<div class="meetOurStaff">
			<div class=content-wrapper>
				<ul id="aboutTabs" class="nav nav-pills nav-stacked">
				  <li role="presentation" class="active"><a href="#board">Board of Directors</a></li>
				  <li id="donnaBeverage" role="presentation"><a href="#1">Donna Beverage</a></li>
				  <li id="normCimon" role="presentation"><a href="#6">Norm Cimon</a></li>
				  <li id="joeMcCormack" role="presentation"><a href="#8">Joe McCormack</a></li>
				  <li id="allenChilds" role="presentation"><a href="#10">Allen Childs</a></li>
				  <li id="larryCribbs" role="presentation"><a href="#11">Larry Cribbs</a></li>
				  <li id="daveYost" role="presentation"><a href="#12">Dave Yost</a></li>
				  <li id="larryNall" role="presentation"><a href="#15">Larry Nall</a></li>
				  <li id="jedHassinger" role="presentation"><a href="#16">Jed Hassinger</a></li>
				  <li id="nickMyatt" role="presentation"><a href="#17">Nick Myatt</a></li>
				  <li id="susanRoberts" role="presentation"><a href="#19">Susan Roberts</a></li>



				</ul>
				<!-- tab content -->
				<div class="tab-content">
					<div role="tab-panel" class="tab-pane fade in active" id="board">
						<h3>Meet the Board</h3>
						<p>The mission of the Board of Directors of the Grande Ronde Model Watershed is to develop and oversee the implementation, maintenance, and monitoring of coordinated resource management that will enhance the natural resources of the Grande Ronde River Basin.

						Board members have a unique task. Expected to represent the constituency that nominated them for participation, they are also expected to support the mission of the GRMW. Human nature dictates that serving these two masters can be a challenge, and individual interpretations of the mission statement add to the burden of working from outside and from within the GRMW as board members are asked to do.

						The board represents all the key elements of today's society in northeastern Oregon. Over the years, the work of the board has provided solid evidence that the GRMW is in the good and capable hands of citizens who care; people who seek a reasonable balance of social, economic, and environmental values; and who are consistently willing to place the good of the whole at the forefront of their thoughts and actions.</p>
					</div>
					<div role="tab-panel" class="tab-pane fade" id="1">
						<h3>Donna Beverage</h3>
						<p><b>Family:</b><br>Married, 4 children and 14 grandchildren 4th generation in Union County</p>

						<p class="list-title"><b>Education:</b><br></p>
						<ul class="list-area">
							<li>Diploma from Union High School   Certification from TEC in Office/Computer Technology</li>
						</ul>

						<p class="list-title"><b>Work Experience:</b></p>
						<ul class="list-area">
							<li>Rancher over 40 years</li> 
							<li>UPS driver 16 years</li>
							<li>Administrative Assistant for Community Connection of NE Oregon</li> 
							<li>Office Specialist 2 for State of Oregon DHS.</li>
						</ul>

						<p><b>Interest in GRMW:</b><br>Liaison from Union County</p><br><br>

					</div>
					<div role="tab-panel" class="tab-pane fade" id="6">
						<h3>Norm Cimon</h3>
						<p><b>Family:</b><br>
						Married to Shelley with two children, James and Jess. We were foster parents to many children for the first 15 years after our move to La Grande in 1980. We adopted one of those kids, and then had one of our own. This past summer we were delighted to participate in the wedding of a young woman who stayed with us the longest of any of our foster kids, and who we’ve kept in touch with over the years. That was wonderful.

						I grew up in New England, and Shelley is from California originally. We met in Corvallis, years ago, an Oregon State University where I’d come for graduate work.<br><br>

						<b>Education:</b><br>	I started my under-graduate studies at Boston College, in the late 60s. Those were interrupted by the Vietnam War and I ended up casting my lot with the US Air Force, learning electronics and navigation systems at Keesler Air Base in Biloxi, Mississippi in 1970.<br><br>

						Two years later while deployed in Okinawa, my name popped up on a computer list of French speakers, something I learned from my French Canadian mother before I could speak English. The other name for SE Asia during colonial times was French Indochina. It was the second language for many in that part of the world, and I ended up interpreting for forward air control along the Mekong River and its delta, taking a few lessons in piloting the OV-10 Bronco along the way. We did a good enough job of dodging rockets that I made it back to Nellis AFB for a final tour of duty in Las Vegas, Nevada courtesy of the AF.<br><br>

						There, I resumed work on a dual degree in mathematics and physics at UNLV, eventually settling on the former. My working experience came as a computer programmer hired as a student, both for private industry and for the newly formed Environmental Protection Agency. That work was fascinating and all-consuming.<br><br>

						We were doing baseline studies for water quality around the West, and monitoring air emissions from copper smelters which were then completely un-regulated. Our scientists found the first signature of airborne cadmium, along with sulfur and mercury, coming from the Anaconda, Montana smelter. Those emissions and others were responsible for a 50-mile swath of de-vegetation, leading away from the smelter in the direction of the prevailing winds.<br><br>

						Five years later I worked my way into a graduate position at Oregon State University, in mathematics. That’s how I got here. I made my way North to get out from under the development machine that was covering that sere but exquisitely beautiful part of the Mojave with housing tracts. I heard about land-use planning and that led to my decision.<br><br>

						As a favor to my boss, I was an advance man for the company I was then working for. They were thinking of putting in a bid for the grass-burning impact study that Oregon was proposing in the late 70s. I came to Corvallis in 1978, met with the then head of Oregon’s DEQ, and put myself out of a job. The state had none of the mathematically based computer tools, ones that they’d agreed too, ready to go. Those were needed for our company to do the analysis. I thanked my boss for the opportunity, but we said goodbye.

						Instead I ended up programming for a very small Corvallis company for a half-year. After that came my graduate work in mathematics at OSU.<br><br>

						<b>Work Experience:</b><br>	I’ve worked as a plumber’s assistant (not a helper!), a stock clerk, a cab driver, cutting sugar cane, as a busboy in Las Vegas, and as a nav systems tech working on intertial and Doppler-radar systems. I’ve also taught algebra (OSU, EOU), calculus (OSU), and finite mathematics (EOU).<br><br>

						I jumped on the federal register while at OSU, and found a job at the Forestry and Range Sciences lab here in La Grande, Oregon as a jack of all trades: a computer programmer; an equipment repair tech; a mathematician; a computer network designer; a database designer and programmer; and as a systems analyst. Data management for the Starkey Project became the end-all and be-all starting in the late 80s and extending into my retirement in 2007. Twenty-six years shot by.<br><br>

						I still keep my hand in with work through my own company, on contract with both private and governmental organizations.<br><br>

						These days I also help with finance and do the accounting for a local non-profit, living inside of QuickBooks for a few hours every week.<br><br>

						<b>Interest in GRMW:</b><br>	Water is the only reason any of us get to live in the interior west of North America, and the Grande Ronde Model Watershed is all about water. Intelligent management of that gift to what is after all a drier part of the world is the key to long-term sustainability. It’s what can make this a viable place for every plant, animal, and person to have as a home.<br><br>

						As the environmental representative on the board, I’m proud of my association with the dedicated individuals of organizations such as HCPC. Their very knowledgeable and professional staff work for peanuts to make that vision come to pass.

						It’s all about the ecology of water.</p><br><br>
					</div>
					<div role="tab-panel" class="tab-pane fade" id="8">
						<h3>Joe McCormack</h3>
						<p><b>Family:</b><br>Joe has one son and three grandchildren. He has lived near Joseph Or. for 25 years, originally from the Spokane Washington area. He is a U.S. Marine Corps Vietnam Veteran and a Nez Perce Tribal Member.</p>

						<p class="list-title"><b>Education:</b></p>
						<ul class="list-area">
							<li>Attended Spokane Falls CC, Eastern Washington State University, Blue Mountain CC, College of Southern Idaho, Eastern Oregon State University, Oregon State University, with interests in Art, environment and Fisheries</li>
						</ul>

						<p class="list-title"><b>Work Experience:</b></p>
						<ul class="list-area">
							<li>Nez Perce Tribe Fisheries (Research)</li>
							<li>Tribal Commercial Fisher</li>
							<li>Cattleman</li>
							<li>Ture Guide sharing Nez Perce Tribe History in The Wallowa’s</li>
							<li>Worked in the Alaska Commercial Fisheries</li>
							<li>Owned a Sub Contracting Business in Spokane (Floor Covering, Carpet & Vinyl, Cory Tile and Ceramic Inst., and Formica counter tops)</li>
							<li>Boards</li>
							<li>Nez Perce Homeland Project</li>
							<li>ICAPS (International Center for Applied Postural Science)</li>
							<li>NEOEDD</li>
							<li>Wallowa Land Trust (past Charter Board member, currently Lands Committee)</li>
							<li>Wallowa Resources (past board member)</li>
							<li>The Nature Conservancy Wallowa County Advisory Board</li>
							<li>Lions Club</li>
							<li>Eagle Cap Ski Club</li>
						</ul>

						<p><b>Interest in GRMW:</b><br>  Appointed by the Nez Perce Tribe with interest regarding Treaty Resources, particularly water, watershed health, Salmon, steelhead, Lamprey and ecological systems, and human interaction on the Grande Ronde, Minam, Wallowa and Imnaha River sub basins.</p><br><br>

					</div>
					<div role="tab-panel" class="tab-pane fade" id="10">
						<h3>Allen Childs</h3>
						<p><b>Family:</b> <br>Allen is married to Julie.  They have three children, Cody, Jacey and Eli.</p>

						<p class="list-title"><b>Education:</b></p>
						<ul class="list-area">
							<li>B.S. Science, Biology at Eastern Oregon State University</li>
							<li>A.S. Science, Fish and Wildlife Eastern Utah State University</li>
						</ul>

						<p class="list-title"><b>Work Experience:</b></p>
						<ul class="list-area">
							<li>1987-1993 – USFS Wallowa-Whitman Fisheries and Wildlife Technician and NEPA Staff</li>
							<li>1993-Present – CTUIR: Grande Ronde Fish Habitat Project Biologist/Leader. Current experience and responsibilities – Manage CTUIR’s Grande Ronde Fish Habitat Program, including working with landowners to develop project opportunities, project planning, design, implementation, and administration, land acquisition, and conservation property management.</li>
							<li>Board Member, Member of Science Tech Team and the Implementation Team</li>
						</ul>

						<p><b>Interest in GRMW:</b><br> Promote watershed restoration and recovery of fishery resources. Promote CTUIR First Foods and River Vision that encompasses enhancing and restoring watershed processes and functions, including: floodplain connectivity; wetlands/riparian; habitat complexity and diversity and instream flow that supports aquatic resources.</p><br><br>
					</div>
					<div role="tab-panel" class="tab-pane fade" id="11">
						<h3>Larry Cribbs</h3>
						<p><b>Family:</b><br>  Larry is married to Shirley and they have two sons, Chris and Mike.</p>

						<p class="list-title"><b>Education:</b></p>
						<ul class="list-area">
							<li>Went to College</li>
							<li>Life</li>
							<li>Wife</li>
						</ul>

						<p class="list-title"><b>Work Experience:</b></p>
						<ul class="list-area">
							<li>Logging - Vey Ranches</li>
							<li>Trucking – Manager Western Star Dealership</li>
							<li>Military</li>
							<li>Blue Mountain Natural Resources Institute</li>
							<li>Blue Mountain Foundation</li>
							<li>Eagle Freightliner – Manager</li>
						</ul>

						<p><b>Interest in GRMW:</b><br>  Larry is one of many individuals that helped create the organization, its focus and objective.  GRMW is one of only a few organizations that work for the welfare of the resources and the citizens that use those resources.</p><br><br>
					</div>
					<div role="tab-panel" class="tab-pane fade" id="12">
						<h3>Dave Yost</h3>
						<p><b>Family:</b><br>Dave is married to Marianne. They have two daughters, Megan and Anna. Megan is married to Jerry Cobb and they have a son Coyle.  Anna is married to Odo Grandi.</p>

						<p class="list-title"><b>Education:</b></p>
						<ul class="list-area">
							<li>Agricultural Education Degree at Oregon State University</li>
						</ul>

						<p class="list-title"><b>Work Experience:</b></p>
						<ul class="list-area">
							<li>Ag Instructor for 29 years</li>
							<li>Retired for 3 years</li>
						</ul>

						<p><b>Interest in GRMW:</b><br>A positive way to help my home community of Wallowa County.</p><br><br>

					</div>
					<div role="tab-panel" class="tab-pane fade" id="15">
						<h3>Larry Nall</h3>
						<p><b>Family:</b><br>Larry is married to Sharon and they have two grown sons, Ryan and Tyler.  Both are living in the Pacific Northwest with their respective families.</p>

						<p class="list-title"><b>Education:</b></p>
						<ul class="list-area">
							<li>B.S. Forest Management – Washington State University 1970</li>
						</ul>


						<p class="list-title"><b>Work Experience:</b></p>
						<ul class="list-area">
							<li>38 years owning and operating a forest management business, specializing in forest inventory, reforestation, and timber stand improvement</li>
							<li>Since 2008, lead auditor working with certified forest owners and wood product manufacturers in the U.S. and Canada</li>
						</ul>


						<p><b>Interest in GRMW:</b><br>Long-term enhancement of anadromous fish habitat, with the intent to ensure that local projects adhere to good science, with monitoring to evaluate improvement in fish population numbers and quality.</p><br><br>

					</div>
					<div role="tab-panel" class="tab-pane fade" id="16">
						<h3>Jed Hassinger</h3>
						<p><b>Family:</b><br>Jed grew up on his family’s farm North of Cove, along Catherine Creek.  His father, Phil, farmed while his mother, Trudy, taught school in Cove and La Grande.  Jed lives in Cove with his wife, Amy, and their two sons, Rowan and Cael.  He and his brother, Seth, currently operate the family farm.</p>

						<p class="list-title"><b>Education:</b></p>
						<ul class="list-area">
							<li>Graduated from Cove High School in 1994</li>
							<li>Graduated from University of Oregon in 1999 with B.S. in Biology
						</ul>


						<p class="list-title"><b>Work Experience:</b></p>
						<ul class="list-area">
							<li>Chemist, Helix Research, Eugene, 1999-2003</li>
							<li>Chemist, AVI BioPharma, Corvallis, 2003-2010</li>
							<li>Farmer, Hassinger Farms (Family Farm), Cove, 2010-present</li>
						</ul>


						<p><b>Interest in GRMW:</b><br>  His interest is in representing interest of agricultural community, while improving the quality of the local environment.</p><br><br>

					</div>
					<div role="tab-panel" class="tab-pane fade" id="17">
						<h3>Nick Myatt</h3>
						<p class="list-title"><b>Education:</b></p>
						<ul class="list-area">
							<li>B.S. in Natural Resources Management – Northland College in Ashland WI in 2001</li>
							<li>M.S. in Biology – University of Arkansas in Fayetteville AR in 2004</li>
						</ul>


						<p class="list-title"><b>Work Experience:</b></p>
						<ul class="list-area">
							<li>Oregon Department of Fish and Wildlife (ODFW) Grande Ronde Watershed District Manager in La Grande OR 2011-present</li>
							<li>ODFW District Wildlife Biologist in Baker City OR 2007-2011</li>
							<li>ODFW Access and Habitat Program Coordinator in Salem OR 2004-2007</li>
							<li>Arkansas Cooperative Fish & Wildlife Research Unit 2002-2004</li>
							<li>Various field research jobs from Alaskan Artic to Florida Everglades 1998-2002</li>
						</ul>


						<p><b>Interest in GRMW:</b><br>Working cooperatively with all partners in the Grande Ronde Basin to implement landscape level fish & wildlife habitat restoration.</p><br><br>

					</div>
					<div role="tab-panel" class="tab-pane fade" id="19">
						<h3>Susan Roberts</h3>
						<p><b>Family:</b><br>Susan has two daughters and seven grandchildren</p>

						<p class="list-title"><b>Education:</b></p>
						<ul class="list-area">
							<li>Wallowa High School</li>
							<li>Business School</li>
						</ul>

						<p class="list-title"><b>Work Experience:</b></p>
						<ul class="list-area">
							<li>Marine Corps</li>
							<li>Dental Office Manager for 35 years</li>
							<li>City of Enterprise: budget, planning, City Council, Mayor</li>
							<li>Wallowa County Commissioner</li>
						</ul>

						<p><b>Interest in GRMW:</b><br>  Representing Wallowa County; restoration work (funding/budgets)</p><br><br>

					</div>
			  	</div>
			</div>
		  	<br>
		  	<script>
			  	$('#aboutTabs li').on('click', 'a', function (e) {
					e.preventDefault();
					$(this).tab('show');
				});

				$('.pane').on('click', function(e){
					var targ = $(e.target).closest('.panel-box').attr('data-id');
					console.log($('#'+targ+' a').trigger("click"));
				});
		  	</script>
		</div>
{% endblock %}