<!DOCTYPE html>
<html>
<body>
	<div>
		<h3>Ripples In The Grande Ronde!</h3>
		<p>Thank you for subscribing to Ripples! We hope that you enjoy this newest edition of our newsletter!</p>
		{{content|safe}}<br>
		<p>If you wish to unsubscribe from this newsletter, please click the unsubscribe button below.</p>
		<a href="{{href_unsubscribe}}" style="padding: 5px; color: white; background: #ed4337; text-decoration: none; cursor: pointer; font-size: 14px; border-radius: 5px; line-height: 25px;">unsubscribe</a>
		<br>
		<!-- EMAIL FOOTER -->
		<p>Thank you from all of us at the Grande Ronde Model Watershed.</p>
		<p>Grande Ronde Model Watershed<br> 1114 J Avenue<br> La Grande OR 97850<br> Telephone: <a href="tel:15416640570">541-663-0570</a><br> Support Email: <a href="mailto:infotech@grmw.org">infotech@grmw.org</a><br></p>
	</div>
</body>
</html>