<!DOCTYPE html>
<html>
<body>
	<div>
		<h3>Verify Your Email Address with GRMW.org</h3>
		<p>	Please follow the link below to confirm your email address. Why do we want you to confirm your email for a free subscription? Asking users to confirm their email address does several things for us. One, it allows us to know who our active recipients are and ensure that they have signed up of their own accord. Two, it provides us with a way to keep your information secure in our database so if you ever want to cancel your free subscription, we know the request came from you and not somebody else. Lastly, confirming your email means that we can weed out fake email addresses from real ones and keep our database clean. Thank you for your understanding and we hope this process hasn't been too inconvenient.</p>
		<a href="{{verify_href}}" style="padding: 5px; color: white; background: green; text-decoration: none; cursor: pointer; font-size: 14px; border-radius: 5px; line-height: 25px;">Verify My Email Address</a>
		<p>If you did not sign up for our free newsletter or if you have changed your mind and wish to cancel this process, you may click the 'Unsubscribe' button below to be removed from our database.</p>
		<a style="padding: 5px; color: white; background: #ed4337; text-decoration: none; cursor: pointer; font-size: 14px; border-radius: 5px; line-height: 25px;" href="{{unsubscribe_href}}">Unsubscribe</a>
		<br><br>
		<p>Thank you from all of us at the Grande Ronde Model Watershed.</p>
		<p>
		Grande Ronde Model Watershed<br>
		1114 J Avenue<br>
		La Grande OR 97850<br>
		Telephone: <a href="tel:15416640570">541-663-0570</a><br>
		Support Email: <a href="mailto:infotech@grmw.org">infotech@grmw.org</a><br>
		</p>
	</div>
</body>
</html>