{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Email Error</title>
{% endblock%}
{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/home/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div style="position: relative;">
		<img class="mainImage" src="{% static 'images/home/main_basin.png' %}">
	</div>
	<div class="mid_page">
		<center>
			<div style="width: 50%">
				<h3 style="margin-top:2vw;margin-bottom:1vw; font-size:1.5vw; color:red;">Failure!</h3>
				<p style="margin-top:1vw; margin-bottom:1vw;">An error occured while processing your request, we apologize for the inconvenience. Please notify the site administrator concerning this error - {{error}}. You can email the site administrator at infotech@grmw.org</p>
				<a style="margin-bottom: 2vw;" class="link_button" href="/">Return to Home</a>
			</div>
		</center>
	</div>

{% endblock %}