{% extends 'header.html' %}

{% load staticfiles %}

{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/home/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<img class="logo" src="{% static 'images/home/logo.png' %}">
	<div style="position: relative;">
		<img class="mainImage" src="{% static 'images/home/main.png' %}">
		<table class="navBarLinks">
			<tbody>
				<tr>
					<th colspan="1">Home</th>
					<th colspan="1">Board Meetings</th>
					<th colspan="1">Data</th>
					<th colspan="1">Education</th>
					<th colspan="1">Stepwise</th>
					<th colspan="1">Atlas</th>
				</tr>
			</tbody>
		</table>
		<div class="mainOverlay">
			<h3>HOW CAN WE HELP YOU FUND YOUR RESTORATION PROJECT?</h3>
			<div href="/stepwise/" class="learn">
				<h1>Learn More</h1>
			</div>
		</div>
	</div>
	<img class="motto" src="{% static 'images/home/grmwMotto.png' %}">
	<div>
	<div class="mid_page">
		<img class="sidebar" src="{% static 'images/home/sidebar.jpg' %}">
	</div>

	  
{% endblock %}