{% extends 'header.html' %}

{% load staticfiles %}

{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/home/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<img class="logo" src="{% static 'images/home/logo.png' %}">
	<div style="position: relative;">
		<img class="mainImage" src="{% static 'images/home/main.png' %}">
		<table class="navBarLinks">
			<tbody>
				<tr>
					<th colspan="1">Home</th>
					<th colspan="1">Board Meetings</th>
					<th colspan="1">Data</th>
					<th colspan="1">Education</th>
					<th colspan="1">Stepwise</th>
					<th colspan="1">Atlas</th>
				</tr>
			</tbody>
		</table>
		<div class="mainOverlay">
			<h3>HOW CAN WE HELP YOU FUND YOUR RESTORATION PROJECT?</h3>
			<div href="/stepwise/" class="learn">
				<h1>Learn More</h1>
			</div>
		</div>
	</div>
	<img class="motto" src="{% static 'images/home/grmwMotto.png' %}">
	<div>
	<div class="mid_page">
		<img class="sidebar" src="{% static 'images/home/sidebar.jpg' %}">
		<div class="panel">
			<div class="projectSpot">
				<h2 id="project_title"></h2>
				<div style="width: 27vw; display: inline-block; margin-left: 1vw">
					<img id="project_spotlight" />
					<img class="gotoproject" src="{% static 'images/home/gotoproject.png' %}"/>
				</div>
				<div max-length="100" class="desc_box">
					<h2>Description</h2>
					<p class="desc_content"></p>
					<h2>Gallery</h2>
					<div id="gallery_content">		
					</div>
				</div>
				<div style="display: inline-block; vertical-align: top;">
					<ul id='project_scrollBox'></ul>
				</div>
			</div>
			<hr class="panelSeparator">
			<div class="ripplesSpot">
				<h2>About the Ripples Newsletter</h2>
				<div class="ripples_text">
					<p class="ripples_desc">
						Through the GRMW Education Outreach Program we have developed Ripples in the Grande Ronde, a quarterly newsletter that is distributed through Union and Wallowa county's local newspapers as an insert.
						<br><br>
						The newsletter highlights collaborative projects in the Grande Ronde Basin, serves as a media source for other natural resource agencies, and includes a variety of water-related information equally interesting to adults and children. You may select newsletters below and view them in PDF format. If you would like a printed copy of the Ripples, contact the GRMW office.
					</p>
				</div>
				<div class="ripples_years">
					<ul class="yearList">
						<!-- All years that have ripples -->
					</ul>
				</div>
				<div class="ripples_editions">
					<ul class="editions">
						<!-- All editions for the selected year-->
					</ul>
				</div>
				<div class="edition_detail" style="display:inline-block; vertical-align: top;">
					<a target="_blank"><img></img></a>
					<ul class="edition_articles">
						<!-- The details of the selected edition -->
					</ul>
				</div>
			</div>
		</div>
	</div>
<script>
	{% static "" as baseUrl %}
	var projects_list = [ {% for project in projects %}'{{ project.name }}', {% endfor %} ];
	var projects_img_url = [ {% for project in projects %}'{{ baseUrl }}images/projects/{{ project.id }}/main.jpg', {% endfor %} ];
	var projects_desc = [ {% for project in projects %}'{{ project.description }}', {% endfor %} ];
	var projects_flickr = [ {% for project in projects %}'{{ project.flickr }}', {% endfor %} ];

	var years_list = [{% for x in years %}'{{ x.year }}', {% endfor %}];
	var ripple_list = [{% for x in ripples %}'{{ x }}', {% endfor %}];
	var ripple_url_list = [{% for x in ripples %}'{{ x.url }}', {% endfor %}];
	var ph = [];

	function loadRipples(){
		for(var i=0; i < years_list.length; i++){
			if (i == 0){
				$('.yearList').append('<li class="year_selected">'+years_list[i]+'</li>');
				for (var j=0; j < ripple_list.length; j++){
					if (ripple_list[j].includes(years_list[i])){
						if (j == 0){
							$('.editions').append('<li class="ripple_selected" data-index="'+j+'">'+ripple_list[j]+'</li>');
							$('.edition_detail a').attr('href', ripple_url_list[j])
							ph = ripple_list[j].split(' ');
							$('.edition_detail a img').attr('src', '{{baseUrl}}images/ripples/'+years_list[j]+'/'+ph[0]+'.jpg')
						}
						else{
							$('.editions').append('<li class="ripple_unselected" data-index="'+j+'">'+ripple_list[j]+'</li>');
						}
					}
				}
			}
			else{
				$('.yearList').append('<li class="year_unselected">'+years_list[i]+'</li>');
			}
		}
	}
	function loadProjects(){
		$("#project_spotlight").attr('src', projects_img_url[0]);
		$("#project_title").html(projects_list[0]);
		$('.desc_content').html(projects_desc[0]);
		loadFlickr(projects_flickr[0]);
		for(var x=0; x < projects_list.length; x++){
			if(x == 0){
				$('#project_scrollBox').append('<li class="project_selected">'+projects_list[x]+'</li>');
			}
			else{
				$('#project_scrollBox').append('<li class="project_unselected">'+projects_list[x]+'</li>');
			}
		}
	}

	loadProjects();
	loadRipples();
	$('.desc_content').dotdotdot();

	$("#project_scrollBox li").on('click', function (e){
		$('#gallery_content').html('');
		selectObject(e, '#project_scrollBox li', 'project_selected', 'project_unselected');
		var index = $(e.target).index();
		$("#project_spotlight").attr('src', projects_img_url[index]);
		$("#project_title").html(projects_list[index]);
		$(".desc_content").html(projects_desc[index]);
		loadFlickr(projects_flickr[index]);
	});

	$(".yearList").on('click', 'li', function (e){
		selectObject(e, '.yearList li', 'year_selected', 'year_unselected');
		$('.editions li').remove();
		for (var j=0; j < ripple_list.length; j++){
			if (ripple_list[j].includes($(e.target).html())){
				$('.editions').append('<li class="ripple_unselected" data-index="'+j+'">'+ripple_list[j]+'</li>');
			}
		}
		$('.editions li').first().addClass('ripple_selected');
		$('.editions li').first().removeClass('ripple_unselected');
		$('.editions li').first().trigger('click');
	});

	$(".editions").on('click', 'li', function(e){
		selectObject(e, '.editions li', 'ripple_selected', 'ripple_unselected');
		var i = $(e.target).attr('data-index');
		$('.edition_detail a').attr('href', ripple_url_list[i]);
		ph = $('.ripple_selected').html().split(' ');
		$('.edition_detail a img').attr('src', '{{baseUrl}}images/ripples/'+$('.year_selected').html()+'/'+ph[0]+'.jpg')

	});

	function selectObject(e, boxItems, classSelected, classUnselected){
		$(boxItems).addClass(classUnselected);
		$(boxItems).removeClass(classSelected);
		$(e.target).addClass(classSelected);
		$(e.target).removeClass(classUnselected);
	}

	function loadFlickr(flickrSetID) {
		var apiKey = 'e6b4ff424de5600fbcb3a22fda4c979a'; // Uploader API Key
		var owner = '62680502@N05' // Uploader API Key
		var setId = flickrSetID // Set Key
		jQuery.getJSON('https://api.flickr.com/services/rest/?&method=flickr.photosets.getPhotos&api_key=' + apiKey + '&photoset_id=' +setId + '&format=json&jsoncallback=?',
			function(data){
			// Loop through data from REST service
			if (data.photoset != undefined && data.photoset.photo != undefined){
				jQuery.each(data.photoset.photo, function(i,item){
					//build the url of the photo in order to link to it
					var photoURL_small = 'http://farm' + item.farm + '.static.flickr.com/' + item.server + '/' + item.id + '_' + item.secret + '_s.jpg';
					var photoURL_big = 'http://farm' + item.farm + '.static.flickr.com/' + item.server + '/' + item.id + '_' + item.secret + '_b.jpg';
				
					//turn the photo id into a variable
					var photoID = item.id;
					
					//use another ajax request to get the tags of the image
					jQuery.getJSON('https://api.flickr.com/services/rest/?&method=flickr.photos.getInfo&api_key=' + apiKey + '&photo_id=' + photoID + '&format=json&jsoncallback=?',
						function(data){				
							//create an imgCont string variable which will hold all the link location, title, author link, and author name into a text string
							/*var imgCont = '<div class="image-container" style="background: url(' + photoURL + ');"><div class="image-info"><p class="top"><a class="title" href="http://www.flickr.com/photos/' + data.photo.owner.nsid + '/' + photoID + '">' + data.photo.title._content + '</a> <span class="author">by <a href="http://flickr.com/photos/' + data.photo.owner.nsid + '">' + data.photo.owner.username + '</a></span></p><div class="bottom"><p><span class="infoTitle">Comments:</span> ' + data.photo.comments._content + '</p>';*/
							var imgCont = '<a class="fancybox-thumb" rel="fancybox-thumb" href="'+ photoURL_big + '" title=""><img src="' + photoURL_small + '" alt="" class="pretty-box"/></a>';
					
							//append the 'imgCont' variable to the document
							jQuery(imgCont).appendTo('#gallery_content');
					});
			
				});
			}
		});
	}
</script>
{% endblock %}