{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Home</title>
{% endblock%}
{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/home/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div style="position: relative;">
		<img class="mainImage" src="{% static 'images/home/main.png' %}">
		<div class="mainOverlay">
			<h3>HOW CAN WE HELP YOU FUND YOUR RESTORATION PROJECT?</h3>
			<a style="text-decoration: none;" href="/stepwise/">
				<div class="learn">
					<h1>Learn More</h1>
				</div>
			</a>
		</div>
	</div>
	<img class="motto" src="{% static 'images/home/grmwMotto.png' %}">
	<hr>
	<div>
	<div class="mid_page">
		<div class="panel">
			<div class="projectSpot">
				<h2 id="project_title"></h2>
				<div style="width: 33%; display: inline-block;">
					<img id="project_spotlight" />
					<a id="project_link" href=""><img class="gotoproject" src="{% static 'images/home/gotoproject.png' %}"/></a>
				</div>
				<div max-length="100" class="desc_box">
					<h2>Description</h2>
					<p class="desc_content"></p>
					<h2>Gallery</h2>
					<div id="gallery_content">		
					</div>
				</div>
				<div style="width: 33%; height: 20vw; display: inline-block; vertical-align: top;">
					<ul id='project_scrollBox'></ul>
				</div>
			</div>
			<hr class="panelSeparator">
			<div class="ripplesSpot">
				<h2 class="title">About the Ripples Newsletter</h2>
				<div class="ripples_text">
					<p class="ripples_desc">
						Through the GRMW Education Outreach Program we have developed Ripples in the Grande Ronde, a quarterly newsletter that is distributed through Union and Wallowa county's local newspapers as an insert.
						<br><br>
						The newsletter highlights collaborative projects in the Grande Ronde Basin, serves as a media source for other natural resource agencies, and includes a variety of water-related information equally interesting to adults and children. You may select newsletters below and view them in PDF format. If you would like a printed copy of the Ripples, contact the GRMW office.
					</p>
				</div>
				<div class="ripples_scrollbox">
					<div class="ripples_years">
						<ul class="yearList">
							<!-- All years that have ripples -->
						</ul>
					</div>
					<div class="ripples_editions">
						<ul class="editions">
							<!-- All editions for the selected year-->
						</ul>
					</div>
				</div>
				<div class="edition_detail" style="display:inline-block; vertical-align: top;">
					<div class="article_subpanel">
						<h2 class='article_title'>Articles</h2>
						<ul class="article_content"></ul>
					</div>
					<a target="_blank">
						<img class="article_thumb">
						<div>
							<img class="gotoripple" src="{% static 'images/home/gotoripple.png' %}">
						</div>
					</a>
				</div>
				<div class="subscription">
					<h2 style="font-size: 2vw;" class="title">Subscribe to Ripples In The Grande Ronde</h2>
					<form id="new_subscriber">{% csrf_token %}
						<input class="subscriber_email" type="email" placeholder="Email Address" required/>
						<button style="display: inline-block;" class="subscribe" type="submit"></button>
						<img id="loader" src="{% static 'images/home/loader.gif'%}">
					</form>
				</div>
			</div>
			<hr class="panelSeparator">
			<div class="best_country">
				<h2 class="title">People Restoring Rivers</h2>
				<div class="panelA">
					<p>In 2009, the GRMW teamed up with Green Fire Productions to create a documentry of the Six Ranch Restoration project called "The Best Country".<br><br>Today we have a great opportunity to restore salmon and steelhead habitat in northeastern Oregon.<br><br>In The Best Country two longtime Wallowa valley ranching families tell their stories about restoring salmon and steelhead habitat on their land. </p>
					<br>
					<p class="vid_details">Runtime: 35 min<br>Filmed in High Definition<br>Music by Brady Goss, Thatcher Carter, Matt Cooper.<br>Produced by Greenfire Productions</p>
				</div>
				<div class="panelB">
					<iframe style="width: 100%; height: 20vw;" src="http://player.vimeo.com/video/23509400?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" frameborder="1"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div id="notifBox">
		<div style="position: relative;">
			<h3 class="notifHead"></h3>
			<p class="msg"></p>
			<p class="err"></p>
			<button class="ok_close">OK</button>
		</div>
	</div>
<script>
	{% static "" as baseUrl %}

	$(document).ready(function(){
		$(window).scroll(function(e){
			var scroll = $(window).scrollTop();
			var height = $(window).height();
			var boxHeight = $("#notifBox").height();
			$("#notifBox").css("top", (scroll+((height*.5)-(height*.2))+"px"));
		});

		function notify(msg, head, error){
			if(head === undefined){
				head = 'SUCCESS';
			}
			if(error === undefined){
				error = false;
			}
			$("#notifBox .notifHead").html("");
			$("#notifBox .msg").html("");
			$("#notifBox .err").html("");
			$("#notifBox").show(function(e){
				$("#notifBox .notifHead").html(head);
				$("#notifBox .msg").html(msg);
				if(error != false){
					$("#notifBox .err").html(error);
				}
			});
			var scroll = $(window).scrollTop();
			var height = $(window).height();
			var boxHeight = $("#notifBox").height();
			$("#notifBox").css("top", (scroll+((height*.5)-(height*.2))+"px"));
		}

		$(".subscribe").click(function(e){
			if($(".subscriber_email").is(":valid")){
				e.preventDefault();
				var subscriber_email = $(".subscriber_email").val();
				$("#loader").css('display', 'inline-block');
				$.ajax({
					type: 'POST',
					url: '/subscribe/',
					data: {
						email: subscriber_email,
						csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
					},
					success: function(e){
						$(".subscriber_email").val("");
						if(e.success == true){
							notify(e.message);
						}
						else{
							if(e.data['error']['email'] != undefined){
								notify(e.message, "FAILURE",e.data['error']['email'][0]);
							}
							else if (e.data['error']['confirmation_key'] != undefined){
								notify(e.message, "FAILURE",e.data['error']['confirmation_key'][0]);
							}
							else{
								notify(e.message, "FAILURE");
							}
						}
						$("#loader").hide();
					},
					failure: function(e){
						notify("Something went wrong, please reload the page and try again.", "FAILURE");
					}
				});
			}
		});

		$(".ok_close").click(function(e){
			$("#notifBox").hide();
		});
	});
	var projects_list = [ {% for project in projects %}{name: '{{ project.name }}', id: {{ project.id}} }, {% endfor %} ];
	var projects_img_url = [ {% for project in projects %}'{{ baseUrl }}images/projects/{{ project.grmw_id }}/main.jpg', {% endfor %} ];
	var projects_desc = [ {% for project in projects %}'{{ project.description }}', {% endfor %} ];
	var projects_flickr = [ {% for project in projects %}'{{ project.flickr }}', {% endfor %} ];
	var years_list = [{% for x in years %}'{{ x.year }}', {% endfor %}];
	var ripples = {{ ripples | safe }};
	var articles = {{ articles | safe }};
	
	function loadArticles(id){
		$('.article_content li').remove();
		for(var i=0; i < articles.length; i++){
			if (articles[i].fields.ripples_id == id){
				$('.article_content').append('<li>'+articles[i].fields.article+'</li>')
			}
		}
		$('.article_content').dotdotdot();
	}
	function getSeason(val){
		var rtn;
		switch(val){
			case 1:
				rtn = "Winter";
				break;
			case 2:
				rtn = "Spring";
				break;
			case 3:
				rtn = "Summer";
				break;
			case 4:
				rtn = "Fall";
				break;
		};
		return rtn;
	}
	function loadRipples(){
		for(var i=0; i < years_list.length; i++){
			if (i == 0){
				$('.yearList').append('<li class="year_selected">'+years_list[i]+'</li>');
				for (var j=0; j < ripples.length; j++){
					if (ripples[j].fields.year.indexOf(years_list[i]) >= 0){
						if (j == 0){
							$('.editions').append('<li class="ripple_selected" data-index="'+j+'">'+getSeason(ripples[j].fields.edition_id)+'</li>');
							$('.edition_detail a').attr('href', "/"+ripples[j].fields.file)
							$('.edition_detail a .article_thumb').attr('src', '{{baseUrl}}images/ripples/'+years_list[j]+'/'+getSeason(ripples[j].fields.edition_id)+'.jpg')
							loadArticles(ripples[j].pk);
						}
						else{
							$('.editions').append('<li class="ripple_unselected" data-index="'+j+'">'+getSeason(ripples[j].fields.edition_id)+'</li>');
						}
					}
				}
			}
			else{
				$('.yearList').append('<li class="year_unselected">'+years_list[i]+'</li>');
			}
		}
	}
	function loadProjects(){
		$("#project_spotlight").attr('src', projects_img_url[0]);
		$("#project_title").html(projects_list[0].name);
		$('.desc_content').html(projects_desc[0]);
		loadFlickr(projects_flickr[0]);
		for(var x=0; x < projects_list.length; x++){
			if(x == 0){
				$('#project_scrollBox').append('<li class="project_selected">'+projects_list[x].name+'</li>');
				$('#project_link').attr("href", "/data/project/"+projects_list[x].id)
			}
			else{
				$('#project_scrollBox').append('<li class="project_unselected">'+projects_list[x].name+'</li>');
			}
		}
	}

	loadProjects();
	loadRipples();
	$('.desc_content').dotdotdot();

	$("#project_scrollBox li").on('click', function (e){
		$('#gallery_content').html('');
		selectObject(e, '#project_scrollBox li', 'project_selected', 'project_unselected');
		var index = $(e.target).index();
		$("#project_spotlight").attr('src', projects_img_url[index]);
		$("#project_title").html(projects_list[index].name);
		$(".desc_content").html(projects_desc[index]);
		$('#project_link').attr("href", "/data/project/"+projects_list[index].id)
		loadFlickr(projects_flickr[index]);
	});

	$(".yearList").on('click', 'li', function (e){
		selectObject(e, '.yearList li', 'year_selected', 'year_unselected');
		$('.editions li').remove(); //get rid of whatever was in the box before
		for (var j=0; j < ripples.length; j++){
			if (ripples[j].fields.year.indexOf($(e.target).html()) >= 0){
				$('.editions').append('<li class="ripple_unselected" data-index="'+j+'">'+getSeason(ripples[j].fields.edition_id)+'</li>');
			}
		}
		var li = $('.editions li');
		li.detach().sort(function(a,b) {
    		return ($(a).html() > $(b).html());
    	});
    	$('.editions').append(li);
		$('.editions li').first().addClass('ripple_selected'); //select the first ripple automatically
		$('.editions li').first().removeClass('ripple_unselected'); //remove the unselected class from the first ripple
		$('.editions li').first().trigger('click'); //trigger a click on the first selection
	});

	$(".editions").on('click', 'li', function(e){
		selectObject(e, '.editions li', 'ripple_selected', 'ripple_unselected');
		var i = $(e.target).attr('data-index');
		$('.edition_detail a').attr('href', "/"+ripples[i].fields.file);
		$('.edition_detail a .article_thumb').attr('src', "/"+ripples[i].fields.thumb_file);
		loadArticles(ripples[i].pk)
	});

	function selectObject(e, boxItems, classSelected, classUnselected){
		$(boxItems).addClass(classUnselected);
		$(boxItems).removeClass(classSelected);
		$(e.target).addClass(classSelected);
		$(e.target).removeClass(classUnselected);
	}
	function bindMyHandlers(){
		var $lightbox = $('#lightbox');
	    
	    $('[data-target="#lightbox"]').on('click', function(event) {
	    	console.log('click');
	        var $img = $(this).find('img'), 
	            src = $img.attr('src'),
	            alt = $img.attr('alt'),
	            css = {
	                'maxWidth': $(window).width() - 100,
	                'maxHeight': $(window).height() - 100
	            };
	    
	        $lightbox.find('img').attr('src', src);
	        $lightbox.find('img').attr('alt', alt);
	        $lightbox.find('img').css(css);
	    });
	    
	    $lightbox.on('shown.bs.modal', function (e) {
	        var $img = $lightbox.find('img');
	        $lightbox.find('.modal-dialog').css({'width': $img.width()});
	    });
	}

	function loadFlickr(flickrSetID) {
		var apiKey = 'e6b4ff424de5600fbcb3a22fda4c979a'; // Uploader API Key
		var owner = '62680502@N05' // Uploader API Key
		var setId = flickrSetID // Set Key
		jQuery.getJSON('https://api.flickr.com/services/rest/?&method=flickr.photosets.getPhotos&api_key=' + apiKey + '&photoset_id=' +setId + '&format=json&jsoncallback=?',
			function(data){
			// Loop through data from REST service
			if (data.photoset != undefined && data.photoset.photo != undefined){
				jQuery.each(data.photoset.photo, function(i,item){
					//build the url of the photo in order to link to it
					var photoURL_small = 'http://farm' + item.farm + '.static.flickr.com/' + item.server + '/' + item.id + '_' + item.secret + '_s.jpg';
					var photoURL_big = 'http://farm' + item.farm + '.static.flickr.com/' + item.server + '/' + item.id + '_' + item.secret + '_b.jpg';
				
					//turn the photo id into a variable
					var photoID = item.id;
					
					//use another ajax request to get the tags of the image
					jQuery.getJSON('https://api.flickr.com/services/rest/?&method=flickr.photos.getInfo&api_key=' + apiKey + '&photo_id=' + photoID + '&format=json&jsoncallback=?',
						function(data){				
							//create an imgCont string variable which will hold all the link location, title, author link, and author name into a text string
							/*var imgCont = '<div class="image-container" style="background: url(' + photoURL + ');"><div class="image-info"><p class="top"><a class="title" href="http://www.flickr.com/photos/' + data.photo.owner.nsid + '/' + photoID + '">' + data.photo.title._content + '</a> <span class="author">by <a href="http://flickr.com/photos/' + data.photo.owner.nsid + '">' + data.photo.owner.username + '</a></span></p><div class="bottom"><p><span class="infoTitle">Comments:</span> ' + data.photo.comments._content + '</p>';*/
							/*var imgCont = '<a class="fancybox-thumb" rel="fancybox-thumb" href="'+ photoURL_big + '" title=""><img src="' + photoURL_small + '" alt="" class="pretty-box"/></a>';*/
							var imgCont = '<a class="thumbnail" data-toggle="modal" data-target="#lightbox" href="#" ><img src="' + photoURL_big + '" alt="" class="pretty-box"/></a>';
					
							//append the 'imgCont' variable to the document
							jQuery(imgCont).appendTo('#gallery_content');
							bindMyHandlers();
					});
			
				});
			}
		});
	}
</script>
{% endblock %}