{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Stepwise</title>
{% endblock%}
{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/stepwise/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div class="stepwise_body">
		<div class="mainImage">
			<img src="{% static 'images/stepwise/mainImage.png' %}">
			<h2>Stepwise</h2>
		</div>
		<div>
			<h3 class="stylized_heading">Enter Stepwise</h3>
			<div class="content" style="padding-bottom:2vw;">
				<p>To enter stepwise, please click the link labeled "My Stepwise". This will take you to a personalized page where you can track each prospectus and the overall progress of each submission within the Stepwise process. Stepwise will also track correspondance, uploaded documents, and completed Stepwise projects.</p>
				<center>
					<div class="enterStepwise">
						<a style="text-decoration: none; display: inline-block;" href="stepwise_portal/">
							<h4 class="start_stepwise">My Stepwise</h4>
						</a>
						{% load filters %}
						{% if request.user|has_group:"stepwise_manager"%}
						<a style="text-decoration: none; display: inline-block;" href="stepwise_portal_admin/">
							<h4 class="manage_stepwise">Stepwise Admin</h4>
						</a>
						{% endif %}
					</div>
				</center>
			</div>
		</div>
		
	</div>
<script>
	
</script>
{% endblock %}