{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Stepwise</title>
{% endblock%}
{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/stepwise/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div class="stepwise_body">
		<div class="mainImage">
			<img src="{% static 'images/stepwise/mainImage.png' %}">
			<h2>Stepwise</h2>
		</div>
		<div>
			<p class="status_message">Please login to use the stepwise portal, if you do not have a GRMW.org login, then please select the "Register" link below to set one up.</p>
		</div>
	</div>
<script>
	
</script>
{% endblock %}