{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Atlas</title>
{% endblock%}
{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/atlas/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div class="atlas_body">
		<div class="mainImage">
			<img src="{% static 'images/atlas/mainImage.png' %}">
			<h2>{%for x in bsr%}{{x.atlas_id.atlas_name}}: {{x.name}}{%endfor%}</h2>
		</div>
		<div class="window_nav_bar"><a href="/atlas/">Atlas</a>/<a href="/atlas/go_to_atlas/{%for x in bsr%}{{x.atlas_id.id}}{%endfor%}">{%for x in bsr%}{{x.atlas_id.atlas_name}}{%endfor%}</a>/<span class="page_landed">{%for x in bsr%}{{x.name}}{%endfor%}</span></div>
		<div style="display: inline-block; float:right; margin-top:2vw;">
			{% load filters %}
			{% if request.user|has_group:perm or request.user|has_group:"Atlas_Admin" %}
			<a style="text-decoration: none;" href="/atlas/edit_bsr/{%for x in bsr%}{{x.id}}{%endfor%}">
				<div class="bsr_edit">Edit {%for x in bsr%}{{x.name}}{%endfor%}</div>
			</a>
			{% endif %}
		</div>
			<div class="bsr_detail">
				<h2 class="stylized_heading">General Information</h2>
				<div class="content" style="padding: 2vw;padding-top:0;">
					{%for x in bsr%}
					<center>
						<p style="margin: 0;padding-bottom:1vw;">{{x.name}} has a cumulative score of: <span style="font-weight: bold">{{x.cumulative_score}}</span>
						</p>
						<p style="padding: 0;">Tier</p>
						<div class="tier_{%for x in bsr%}{{x.tier_id}}{%endfor%}">
							{{x.tier_id}}
						</div>
						<table class="bsr_table gen_info_table" style="margin-top:2vw;">
							<tbody>
								<tr style="font-size: 1vw;">
									<th>Geomorphic Potential</th>
									<th>Current Habitat Condition</th>
									<th>Current Temperature</th>
									{% if x.atlas_id.id == 3%}
									<th>Future Condition</th>
									{% endif %}
								</tr>
								<tr>
									<td>{{x.geomorphic_potential}}</td>
									<td>{{x.current_habitat_cond}}</td>
									<td>{{x.current_temp}}</td>
									{% if x.atlas_id.id == 3%}
									<td>{{x.future_cond}}</td>'
									{% endif %}
								</tr>
							</tbody>
						</table>
						<style>
							.gen_info_table th{
								background: gray;
							}
							.gen_info_table td{
								background: white;
								font-size:1vw;
							}
						</style>
					</center>
					<h3 style="font-size:1.25vw;">Description</h3>
					<textarea disabled style="width: 100%; height:20vw;">{{x.desc}}</textarea>
					{%endfor%}
				</div>

				<h2 class="stylized_heading">Periodicity</h2>
				<div class="content">
					<div style="padding:2vw;">
						<table id="periodicity">
							<tbody>
								<tr id="periodicity_head">
									<th>Species</th>
									<th>Life Stage</th>
									<th class="month_label" colspan="2">Jan</th>
									<th class="month_label" colspan="2">Feb</th>
									<th class="month_label" colspan="2">Mar</th>
									<th class="month_label" colspan="2">Apr</th>
									<th class="month_label" colspan="2">May</th>
									<th class="month_label" colspan="2">Jun</th>
									<th class="month_label" colspan="2">Jul</th>
									<th class="month_label" colspan="2">Aug</th>
									<th class="month_label" colspan="2">Sep</th>
									<th class="month_label" colspan="2">Oct</th>
									<th class="month_label" colspan="2">Nov</th>
									<th class="month_label" colspan="2">Dec</th>
								</tr>
								<tr>
									<td class="subscript" style="border:0"></td>
									<td class="subscript" style="border:0"></td>
									<td class="subscript" colspan="2">1-15 | 16-31</td>
									<td class="subscript" colspan="2">1-15 | 16-28</td>
									<td class="subscript" colspan="2">1-15 | 16-31</td>
									<td class="subscript" colspan="2">1-15 | 16-30</td>
									<td class="subscript" colspan="2">1-15 | 16-31</td>
									<td class="subscript" colspan="2">1-15 | 16-30</td>
									<td class="subscript" colspan="2">1-15 | 16-31</td>
									<td class="subscript" colspan="2">1-15 | 16-31</td>
									<td class="subscript" colspan="2">1-15 | 16-30</td>
									<td class="subscript" colspan="2">1-15 | 16-31</td>
									<td class="subscript" colspan="2">1-15 | 16-30</td>
									<td class="subscript" colspan="2">1-15 | 16-31</td>
								</tr>
								{% for life_stage in life_stages %}
								<tr class="periodicity_data">
									<th class="species">{{life_stage.species.species_name}}</th>
									<td>{{life_stage.life_stage_name}}</td>
									<!--January -->
									<td colspan="1" style="background: 
									{% if life_stage.jan_a.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.jan_a.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<td colspan="1" style="background: 
									{% if life_stage.jan_b.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.jan_b.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<!--February -->
									<td colspan="1" style="background: 
									{% if life_stage.feb_a.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.feb_a.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<td colspan="1" style="background: 
									{% if life_stage.feb_b.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.feb_b.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<!--March -->
									<td colspan="1" style="background: 
									{% if life_stage.mar_a.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.mar_a.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<td colspan="1" style="background: 
									{% if life_stage.mar_b.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.mar_b.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<!--April-->
									<td colspan="1" style="background: 
									{% if life_stage.apr_a.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.apr_a.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<td colspan="1" style="background: 
									{% if life_stage.apr_b.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.apr_b.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<!--May-->
									<td colspan="1" style="background: 
									{% if life_stage.may_a.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.may_a.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<td colspan="1" style="background: 
									{% if life_stage.may_b.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.may_b.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<!--June-->
									<td colspan="1" style="background: 
									{% if life_stage.jun_a.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.jun_a.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<td colspan="1" style="background: 
									{% if life_stage.jun_b.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.jun_b.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<!--July-->
									<td colspan="1" style="background: 
									{% if life_stage.jul_a.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.jul_a.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<td colspan="1" style="background: 
									{% if life_stage.jul_b.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.jul_b.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<!--August-->
									<td colspan="1" style="background: 
									{% if life_stage.aug_a.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.aug_a.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<td colspan="1" style="background: 
									{% if life_stage.aug_b.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.aug_b.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<!--September-->
									<td colspan="1" style="background: 
									{% if life_stage.sep_a.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.sep_a.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<td colspan="1" style="background: 
									{% if life_stage.sep_b.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.sep_b.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<!--October-->
									<td colspan="1" style="background: 
									{% if life_stage.oct_a.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.oct_a.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<td colspan="1" style="background: 
									{% if life_stage.oct_b.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.oct_b.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<!--November-->
									<td colspan="1" style="background: 
									{% if life_stage.nov_a.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.nov_a.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<td colspan="1" style="background: 
									{% if life_stage.nov_b.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.nov_b.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<!--December-->
									<td colspan="1" style="background: 
									{% if life_stage.dec_a.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.dec_a.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
									<td colspan="1" style="background: 
									{% if life_stage.dec_b.period == 'Full' %}
										{{life_stage.species.hard_color}}
									{% elif life_stage.dec_b.period == 'Partial' %}
										{{life_stage.species.soft_color}}
									{% endif %}
									"></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<p style="font-size:1.5vw; font-weight: bold;"><span class="normal"># of Life Stages:</span> {%for x in bsr%}{{x.raw_p_score}}{%endfor%}</p>
					</div>
					{%for x in bsr%}
					<div style="padding-left:2vw; padding-right:2vw; padding-bottom:2vw;">
						<h3 style="font-size: 1.5vw; margin-top:0;">Notes:</h3>
						{% if x.periodicity_notes %}
						<textarea id="periodicity_note" disabled style="resize: none; font-size: 1vw; width: 100%">{{x.periodicity_notes}}</textarea>
						{% else %}
						<textarea id="periodicity_note" disabled style="resize: none; font-size: 1vw; width: 100%;"></textarea>
						{% endif %}
					</div>
					{%endfor%}
				</div>
			</div>
			<div>
				<h2 class="stylized_heading">Fish Use</h2>
				<div class="content">
					<div style="padding:2vw">
						<table id="fish_use" style="max-width:92vw">
							<tbody>
							<tr>
								<th style="padding:.5vw">Life Stage</th>
								{% for util in utils %}
									<th style="padding:.5; text-align: center;">{{util.species.species_name}}</th>
								{% endfor %}
								<th style="padding:.5; text-align:center;">Comments</th>
							</tr>
							{% for utilization in utilizations %}
							<tr class="fish_use_row">
								<td class="utilization_name" style="padding:.5vw">{{utilization.utilization_id.utilization_name}}</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<h2 class="stylized_heading">Limiting Factors</h2>
				<div class="content">
					<div style="padding:2vw">
						<table id="limiting_factors" style="max-width:92vw">
							<tbody>
								<tr>
									<th style="padding:.5vw">Limiting Factor</th>
									{% for util in utils %}
										<th style="padding:.5vw; text-align:center;">{{util.species.species_name}}</th>
									{% endfor %}
									<th style="padding:.5vw;text-align:center;">Comments</th>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<h2 class="stylized_heading">Restoration Actions</h2>
				<div class="content">
					<div style="padding:2vw">
						<table id="limiting_factors" style="max-width:92vw;">
							<tbody>
								<tr>
									<th style="padding:.5vw">Restoration Action</th>

									{% for atlas_bsr in bsr %}
									{% if atlas_bsr.atlas_id.id == 2 or atlas_bsr.atlas_id.id == 4 %}
									<th style="padding:.5vw; text-align:center;">Immediate</th>
									<th style="padding:.5vw; text-align:center;">Long-term</th>
									{% elif atlas_bsr.atlas_id.id == 3 %}
									<th style="padding:.5vw; text-align:center;">Priority</th>
									{% endif %}
									{% endfor %}
									<th style="padding:.5vw;text-align:center;">Limiting Factor Score</th>
									<th style="padding:.5vw;text-align:center;">Comments</th>
								</tr>
								{% for action in rest_action %}
								<tr>
									<td style="padding:.5vw;">{{action.restoration_action_id}}</td>

									{% for atlas_bsr in bsr %}
									{% if atlas_bsr.atlas_id.id == 2 or atlas_bsr.atlas_id.id == 4 %}
									<td class="rating" style="padding:.5vw; text-align:center; border: 1vw solid #ECECEC;">{{action.immediate}}</td>
									<td class="rating" style="padding:.5vw; text-align:center; border: 1vw solid #ECECEC;">{{action.long_term}}</td>
									{% elif atlas_bsr.atlas_id.id == 3 %}
									<td class="rating" style="padding:.5vw; text-align:center;">{{action.priority}}</td>
									{% endif %}
									{% endfor %}

									<td style="padding:.5vw; text-align:center;">{{action.limiting_factor_score}}</td>
									<td class="comment" style="padding:.5vw;">{% autoescape off %}
    									{{action.comment}}
									{% endautoescape %}</td>



								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<h2 class="stylized_heading">Opportunities</h2>
				<div class="content">
					<div style="padding:2vw">
						<table id="opportunities" style="width: 100%">
							<tbody>
								<tr>
									<td style="border-right: .1vw solid gray"></td>
									<td style="border-right: .1vw solid gray"></td>
									<td style="border-right: .1vw solid gray"></td>
									<td style="border-right: .1vw solid gray"></td>
									<td style="border-right: .1vw solid gray"></td>
									<td class="green_field"></td>
									<td style="text-align:center; background:gray; color: white;" colspan="9">Feasability Criteria</td>
								</tr>
								<tr>
									<th><div><span>Opportunity Name</span></div></th>
									<th><div><span>Limiting Factor</span></div></th>
									{% for x in bsr %}
									{% if x.atlas_id.id == 2 or x.atlas_id.id == 4%}
										<th><div><span>Immediate Score</span></div></th>
										<th><div><span>Long-Term Score</span></div></th>
									{% else %}
										<th><div><span>Restoration Action Priority</span></div></th>
									{% endif %}
									{% endfor %}
									<th><div><span>Natural Process</span></div></th>
									<th class="green_field"><div><span>Total Biological Benefit Score</span></div></th>
									<th><div><span>Landowner Willingness</span></div></th>
									<th><div><span>Design Effort</span></div></th>
									<th><div><span>Construction Effort</span></div></th>
									<th><div><span>Site Access Effort</span></div></th>
									<th><div><span>SM - Dewatering, Erosion Control Effort</span></div></th>
									<th><div><span>Risk & Uncertainty (Goals & Objectives)</span></div></th>
									<th><div><span>Risk & Uncertainty (Public Safety)</span></div></th>
									<th><div><span>Regulatory Requirements</span></div></th>
									<th><div><span>Value</span></div></th>
								</tr>

								{% for opportunity in opportunities%}

									<tr class="clickable-row" data-href="/atlas/go_to_opportunity/{{opportunity.id}}">
										<td style="padding:.5vw;">{{opportunity.opportunity_name}}</td>
										<td style="padding:.5vw;text-align:center;">{{opportunity.limiting_factor_score}}</td>
									{% for x in bsr %}
									{% if x.atlas_id.id == 2 or x.atlas_id.id == 4%}
										<td style="padding:.5vw;text-align:center;">{{opportunity.immediate_score}}</td>
										<td style="padding:.5vw;text-align:center;">{{opportunity.long_term_score}}</td>
									{% else %}
										<td style="padding:.5vw;text-align:center;">{{opportunity.restoration_action_priority_score}}</td>
									{% endif %}
									{% endfor %}
										<td style="padding:.5vw;text-align:center;">{{opportunity.natural_process_score}}</td>
										<td class="green_field" style="padding:.5vw;text-align:center;">{{opportunity.total_bbs_score}}</td>
										<td style="padding:.5vw;text-align:center;">{{opportunity.fc_landowner_willingness}}</td>
										<td style="padding:.5vw;text-align:center;">{{opportunity.fc_design_effort}}</td>
										<td style="padding:.5vw;text-align:center;">{{opportunity.fc_constuction_effort}}</td>
										<td style="padding:.5vw;text-align:center;">{{opportunity.fc_site_access_effort}}</td>
										<td style="padding:.5vw;text-align:center;">{{opportunity.fc_sm_dewatering_erosion_ctrl_effort}}</td>
										<td style="padding:.5vw;text-align:center;">{{opportunity.fc_risk_goal_objectives}}</td>
										<td style="padding:.5vw;text-align:center;">{{opportunity.fc_risk_public_safety}}</td>
										<td style="padding:.5vw;text-align:center;">{{opportunity.fc_regulatory_requirements}}</td>
										<td style="padding:.5vw;text-align:center;">{{opportunity.fc_value}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<h2 class="stylized_heading">Comments</h2>
				<div class="content">
					<div class="comment_box">
						{% if comments %}
							{% for comment in comments %}
								{% if comment.user_id.id == request.user.id %}
									<div class="comment">
										<p style="padding-bottom: .5vw;">
											From: <span class="normal">{{comment.user_id.first_name}} {{comment.user_id.last_name}}</span><br>
											Subject: <span class="normal">{{comment.subject}}</span>
										</p>
										<div class="normal less_separation">
											{{comment.content|linebreaks}}
										</div><br>
										<div class="attachment_box">
											{% if comment.attachment %}
												<span class="bold smallFont">Attachment:<br/></span><a class="attachment_link" href="/{{comment.attachment}}" download>{{comment.attachment.file.name}}</a>
											{% endif %}
										</div>
									</div>
								{% else %}
									<div class="other-comment">
										<p style="padding-bottom:.5vw;">
											From: <span class="normal">{{comment.user_id.first_name}} {{comment.user_id.last_name}}</span><br>
											Subject: <span class="normal">{{comment.subject}}</span>
										</p>
										<div class="normal less_separation">
											{{comment.content|linebreaks}}
										</div><br>
										<div class="attachment_box">
											{% if comment.attachment %}
											<span class="bold smallFont">Attachment:<br/></span>
											<a class="attachment_link other-attachment" href="/{{comment.attachment}}" download>
												{{comment.attachment.file.name}}
											</a>
											{% endif %}
										</div>
									</div>
								{% endif %}
							{% endfor %}
						{% else %}
							<center><p>There are no comments for this BSR</p></center>
						{% endif %}
					</div>
					<div id="comment_form" style="border-top:.1vw solid black">
						{% if comment_form %}
						<form enctype="multipart/form-data" method="POST" action="/atlas/bsr_comment/{% for x in bsr %}{{x.id}}{% endfor %}/">{% csrf_token %}
							{{ comment_form.as_p }}
							<button id="submit_comment" class="link_button" type="submit">Submit</button>
						</form>
						{% endif %}
					</div>
				</div>
			</div>


		</div>
<script>
	$(document).ready(function(e){
		$(".clickable-row").click(function() {
       		window.open($(this).data("href"), "_blank");
    	});

		$("#comment_form label").hide();
		$('#comment_form label[for="id_attachment"]').show();

		$('.comment_box').scrollTop($('.comment_box')[0].scrollHeight);

		//prepend upload icon to upload label
		$('#comment_form label[for="id_attachment"]').html("<img class='upload_icon' src='{% static 'images/stepwise/upload.png'%}'/>  Upload Attachment");

		var id_attachment = document.querySelectorAll( '#id_attachment' );
		Array.prototype.forEach.call( id_attachment, function( input )
		{
			var label	 = $('#comment_form label[for="id_attachment"]');
			labelVal = label.html;
			input.addEventListener( 'change', function( e )
			{
				var fileName = '';
				if( this.files && this.files.length > 1 )
					fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
				else
					fileName = e.target.value.split( '\\' ).pop();

				if( fileName )
					$('#comment_form label[for="id_attachment"]').html("Attachment: "+fileName);
				else
					$('#comment_form label[for="id_attachment"]').html("<img class='upload_icon' src='{% static 'images/stepwise/upload.png'%}'/>  Upload Attachment");
			});
		});

		//use filename instead of path for all attachments
		attachments = $(".attachment_link");
		for(var i=0; i < attachments.length; i++){
			filename = attachments[i].innerHTML 
			filename = filename.split('\\');
			filename = filename[filename.length-1];
			filename = filename.replace(/\s/g,'');
			if(filename != ''){
				attachments[i].innerHTML = "Download: "+filename;
			}
		}

		//style parent of upload button (can't be done with css)
		$('label[for="id_attachment"]').parent().css('max-width', '30vw');
		$('label[for="id_attachment"]').parent().css('display', 'inline-block');
		$('label[for="id_attachment"]').parent().css('verical-align', 'top');
		$('label[for="id_attachment"]').parent().css('margin-bottom', '2vw');
	});

	{% if atlas == "Upper Grande Ronde" %}
		var x = $(window).width();
		var ugr_width = $("#ugr_map").width()/2;
		console.log(ugr_width);
		$(".svg_box").css('max-width', ugr_width+'px');
		$(".svg_box").css('margin-left', ((.5*x)-(.5*ugr_width))+'px');
	{% endif %}

	if($('.periodicity_data').length > 0){
		total = $('#periodicity .species').length
		var distinct_species = [];
		for(var x = 0; x < total; x++){
			if(jQuery.inArray($('#periodicity .species:nth('+x+')').html(), distinct_species) == -1){
				distinct_species.push($('#periodicity .species:nth('+x+')').html());
			}
		}
		var occurances = []
		for(var i=0; i < distinct_species.length; i++){
			occurances.push(0);
		}
		for(var i = 0; i < distinct_species.length; i++){
			for(var j=0; j < total; j++){
				if(distinct_species[i] == $('#periodicity .species:nth('+j+')').html()){
					occurances[i]++;
				}
			}
		}
		$('#periodicity .species').remove();
		previous = 0;
		for(var i=0; i < distinct_species.length; i++){
			if(i== 0){
				$('#periodicity .periodicity_data:nth('+i+')').prepend("<th class='species' rowspan='"+occurances[i]+"'>"+distinct_species[i]+"</th>");
			}
			else{
				$('#periodicity .periodicity_data:nth('+((occurances[i-1])+previous)+')').prepend("<th class='species' rowspan='"+occurances[i]+"'>"+distinct_species[i]+"</th>");
				previous=(occurances[i-1]);
			}
		}

		$('#periodicity .species').css('border', '.25vw solid lightgray');
		$('#periodicity .species').css('text-align', 'center');
	}

	var ratings = [ {% regroup u_ratings by utilization_id as u_ratings%}{% for u_rating in u_ratings %}{% for item in u_rating.list %}"{{ item.rating }}",{% endfor %}{% endfor %} ];
	var species = [{% for util in utils %}"{{util.species.species_name}}",{% endfor %}];
	var comments = [{% for utilization in utilizations %}"{{utilization.utilization_id.comment}}",{% endfor%}]
	j=0;
	for(var x=0; x < $('.fish_use_row').length; x++){
		for(var i=0; i < species.length; i++){
			$('.fish_use_row:nth('+x+')').append('<td class="rating" style="padding:.5vw">'+ratings[j]+'</td>');
			j++;
		}
	}

	for(var j=0; j < $('.rating').length; j++){
		$('.fish_use_row:nth('+j+')').append('<td class="comment" style="padding:.5vw">'+comments[j]+'</td>')
	}

	var lf_all_factors = [ {% for lf_factor in lf_score %}"{{ lf_factor.limiting_factor_instance_id.limiting_factor_id.sub_id }}. {{ lf_factor.limiting_factor_instance_id.limiting_factor_id.ecological_concern }}:{{ lf_factor.limiting_factor_instance_id.limiting_factor_id.sub_concern }}",{% endfor %} ];
	var lf_species = [ {% for lf in lf_score %}"{{ lf.species }}",{% endfor %} ];
	var lf_ratings = [ {% for lf in lf_score %}"{{ lf.rating }}",{% endfor %} ];
	var lf_factors = [ {% for lf_factor in lfs %}"{{ lf_factor.limiting_factor_instance_id.limiting_factor_id.sub_id }}. {{ lf_factor.limiting_factor_instance_id.limiting_factor_id.ecological_concern }}:{{ lf_factor.limiting_factor_instance_id.limiting_factor_id.sub_concern }}",{% endfor %}]
	var lf_comments = [{% for lf in lfs %}"{{lf.limiting_factor_instance_id.comment}}",{% endfor %}]
	var row = "";

	for (var x=0; x < lf_factors.length; x++){
		row = '<tr class="limiting_factor_row"><td class="limiting_factor_name">'+lf_factors[x]+'</td>';
		for(var i=0; i < species.length; i++){
			for(var j=0; j < lf_species.length; j++){
				if(lf_species[j] == species[i] && lf_all_factors[j] == lf_factors[x]){
					row = row + "<td class='lf_score rating'>"+lf_ratings[j]+"</td>";
				}
			}
		}
		row = row + "<td style='padding: .5vw' class='limiting_factor_comments comment'>"+lf_comments[x]+"</td>";
		row = row + "</tr>"
		$('#limiting_factors').append(row);
	}

	for(var j=0; j < $('.rating').length; j++){
		if($('.rating:nth('+j+')').html() == "Low"){
			$('.rating:nth('+j+')').css('background', '#1692cc');
			$('.rating:nth('+j+')').css('color', 'white');
		}
		else if($('.rating:nth('+j+')').html() == "Med"){
			$('.rating:nth('+j+')').css('background', '#efaa3b');
			$('.rating:nth('+j+')').css('color', 'white');
		}
		else if($('.rating:nth('+j+')').html() == "High"){
			$('.rating:nth('+j+')').css('background', '#af2a2a');
			$('.rating:nth('+j+')').css('color', 'white');
		}
		else if($('.rating:nth('+j+')').html() == "N/A"){
			$('.rating:nth('+j+')').css('background', 'gray');
			$('.rating:nth('+j+')').css('color', 'white');
		}
	}

	
</script>
{% endblock %}