{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Atlas</title>
{% endblock%}
{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/atlas/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div class="atlas_body">
		<div class="mainImage">
			<img src="{% static 'images/atlas/mainImage.png' %}">
			<h2>Opportunity - {{opportunity.opportunity_name}}</h2>
		</div>
		<div class="window_nav_bar"><a href="/atlas/">Atlas</a>/<a href="/atlas/go_to_atlas/{{opportunity.bsr_id.atlas_id.id}}">{{opportunity.bsr_id.atlas_id}}</a>/<a href="/atlas/go_to_bsr/{{opportunity.bsr_id.id}}/">{{opportunity.bsr_id}}</a>/<span class="page_landed">{{opportunity.opportunity_name}}</span>
		</div>
		<div style="display: inline-block; float:right; margin-top:2vw;">
			{% load filters %}
			{% if request.user|has_group:perm or request.user|has_group:"Atlas_Admin" %}
			<a style="text-decoration: none;" href="/atlas/edit_opp/{{opportunity.id}}/">
				<div class="opp_edit">Edit {{opportunity.opportunity_name}}</div>
			</a>
			{% endif %}
		</div>
		<div id="opportunity_body">
			{% if opportunity.location %}
			<div id="opportunity_map" style="width:96%;height:30vw; margin: 2%;">
			</div>
			<script>
				function opp_map() {
					var cent = {{opportunity.center}};
			        var map = new google.maps.Map(document.getElementById('opportunity_map'), {
						zoom: {{opportunity.zoom}},
						center: cent,
						mapTypeId: 'terrain',
						scrollwheel: false,
			        });

			        // Define the LatLng coordinates for the polygon's path.
			        var triangleCoords = {{ opportunity.location }};

			        // Construct the polygon.
			        var opp_polygon = new google.maps.Polygon({
						paths: triangleCoords,
						strokeColor: '#000000',
						strokeOpacity: 0.8,
						strokeWeight: 2,
						fillColor: '{{opportunity.status.color}}',
						fillOpacity: 0.35,
					});

			        opp_polygon.setMap(map);
			        var infowindow = new google.maps.InfoWindow({
			        	content: "{{opportunity.status.status}}"
			        })
			        infowindow.setPosition(cent);
			        opp_polygon.addListener('click', function(){
			        	infowindow.open(map);
			        });

			        // Add a listener for the click event.
					var place_polygon_path = opp_polygon.getPath()
       	 			google.maps.event.addListener(place_polygon_path,'set_at', showArrays);
       	 			google.maps.event.addListener(place_polygon_path,'insert_at', showArrays);
       	 			function showArrays(event) {
						// Since this polygon has only one path, we can call getPath() to return the
						// MVCArray of LatLngs.
						var vertices = opp_polygon.getPath();
						latlng = "["
						for(var x=0; x<vertices.length; x++){
							latlng=latlng+"{lat: "+vertices.b[x].lat()+", lng: "+vertices.b[x].lng()+"},";
						}
						latlng=latlng+"]"
						console.log("latlng: "+latlng)
						console.log("zoom: "+map.getZoom())

				    }
				 }
			</script>
			{% else %}
			<div id="no_opp_map">
				<center>
					<h4>There is no available map for this opportunity at this time</h4>
				</center>
			</div>
			{% endif %}
			{% if opportunity.description %}
			<h2 class="stylized_heading">Description</h2>
			<div class="content" style="padding:2vw;">
				<textarea disabled style="resize: none; width: 100%; height:20vw; overflow-y:scroll;padding: .5vw;">{% autoescape off %}{{opportunity.description}}{% endautoescape %}</textarea>
			</div>
			{% endif %}
			<h2 class="stylized_heading">Limiting Factors Score</h2>
			<div class="content">
				<center>
					<p class="other_score">{{opportunity.lf_score}}</p>
					<div>
						<span class="score_label">Limiting Factor Score</span>
					</div>
				</center>
				<table style="width: 100%;">
					<tbody>
						{% if rest_actions %}
						<tr style="border: 1vw solid #ECECEC">
							<th style="padding: .5vw">Action Name</th>
							<th style="padding: .5vw; text-align: center;">Limiting Factors</th>
							<th style="padding: .5vw; text-align: center;">Immediate</th>
							<th style="padding: .5vw; text-align: center;">Long-term</th>
						</tr>
						{% endif %}
						{% for action in rest_actions %}
						<tr style="border: 1vw solid #ECECEC">
							<td style="padding: .5vw;">{{action.action_id.restoration_action_id}}</td>
							<td style="padding: .5vw; text-align: center;">{{action.action_id.limiting_factor_score}}</td>
							<td class="rating" style="padding: .5vw; text-align: center; border: 1vw solid #ECECEC;">{{action.action_id.immediate}}</td>
							<td class="rating" style="padding: .5vw; text-align: center; border: 1vw solid #ECECEC;">{{action.action_id.long_term}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<h2 class="stylized_heading">Restoration Activities Score</h2>
			<div class="content">
				<center>
					<div style="display:inline-block">
						<p class="other_score">{{opportunity.imm_score}}</p>
						<div>
							<span class="score_label">Immediate Score</span>
						</div>
					</div>
					<div style="display:inline-block">
						<p class="other_score">{{opportunity.lt_score}}</p>
						<div>
							<span class="score_label">Long-Term Score</span>
						</div>
					</div>
				</center>
			</div>

			<h2 class="stylized_heading">Natural Process Score</h2>
			<div class="content" style="padding-bottom: 2vw;">
				<center>
					<p class="other_score">{{opportunity.np_score}}</p>
					<div>
						<span class="score_label">Natural Process Score</span>
					</div>
				</center>
				<center><p class="natural_process">{{opportunity.natural_process}}</p></center>
			</div>

			<h2 class="stylized_heading">Longitudinal Score</h2>
			<div class="content" style="padding-bottom:2vw;">
				<center>
					<p class="other_score">{{opportunity.l_score}}</p>
					<div>
						<span class="score_label">Longitudinal Score</span>
					</div>
				</center>
				<table class="long_score">
					<tbody>
						<tr style="border: 1vw solid #ECECEC">
							<th style="padding: .5vw; text-align: center;">Water Right Date</th>
							<th style="padding: .5vw; text-align: center;">Water Flow Rate</th>
							<th style="padding: .5vw; text-align: center;">Water Right Score</th>
							<th style="padding: .5vw; text-align: center;">Water Flow Score</th>
						</tr>
						<tr style="border: 1vw solid #ECECEC">
							<td style="padding: .5vw; text-align: center;">{{opportunity.water_right_date}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.water_flow_rate}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.wrd_score}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.wfr_score}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h2 class="stylized_heading">Feasability Criteria</h2>
			<div class="content" style="padding-bottom:2vw;">
				<table class="feasability" style="width: 100%;">
					<tbody>
						<tr style="border: 1vw solid #ECECEC; border-bottom:0;">
							<th style="padding: .5vw;">
								<div><span>
									Landowner Willingness
								</span></div>
							</th>
							<th style="padding: .5vw;">
								<div><span>
								Design Effort
								</span></div>
							</th>
							<th style="padding: .5vw;">
								<div><span>
								Construction Effort
								</span></div>
							</th>
							<th style="padding: .5vw;">
								<div><span>
								Site Access Effort
								</span></div>
							</th>
							<th style="padding: .5vw;">
								<div><span>
								SM - Dewatering, Erosion Control Effort
								</span></div>
							</th>
							<th style="padding: .5vw;">
								<div><span>
								Risk & Uncertainty (Goals & Objectives)
								</span></div>
							</th>
							<th style="padding: .5vw; ">
								<div><span>
								Risk & Uncertainty (Public Safety)
								</span></div>
							</th>
							<th style="padding: .5vw;">
								<div><span>
								Regulatory Requirements
								</span></div>
							</th>
							<th style="padding: .5vw;">
								<div><span>
								Value
								</span></div>
							</th>
						</tr>
						<tr style="border: 1vw solid #ECECEC; border-top:0;">
							<td style="padding: .5vw; text-align: center;">{{opportunity.fc_landowner_willingness}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.fc_design_effort}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.fc_constuction_effort}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.fc_site_access_effort}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.fc_sm_dewatering_erosion_ctrl_effort}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.fc_risk_goal_objectives}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.fc_risk_public_safety}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.fc_regulatory_requirements}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.fc_value}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h2 class="stylized_heading">Total Biological Benefit Score</h2>
			<div class="content" style="padding-bottom:2vw;">
				<center>
					<p class="bbs">{{opportunity.tbbs_score}}</p>
					<div>
						<span class="total_label">Total Biological Benefit Score</span>
					</div>
				</center>
				<table class="bioben">
					<tbody>
						<tr style="border: 1vw solid #ECECEC">
							<th style="padding: .5vw; text-align: center;">Limiting Factor Score</th>
							<th style="padding: .5vw; text-align: center;">Immediate Score</th>
							<th style="padding: .5vw; text-align: center;">Long Term Score</th>
							<th style="padding: .5vw; text-align: center;">Natural Process Score</th>
							<th style="padding: .5vw; text-align: center;">Longitudinal Score</th>
						</tr>
						<tr style="border: 1vw solid #ECECEC">
							<td style="padding: .5vw; text-align: center;">{{opportunity.lf_score}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.imm_score}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.lt_score}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.np_score}}</td>
							<td style="padding: .5vw; text-align: center;">{{opportunity.l_score}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h2 class="stylized_heading">Comments</h2>
			<div class="content">
				<div style="padding:2vw;">
					{% if opportunity.comments %}
						<textarea disabled style="resize: none; width: 100%; height:20vw; overflow-y:scroll;padding: .5vw;">{% autoescape off %}{{opportunity.comments}}{% endautoescape %}</textarea>
					{% else %}
						<textarea disabled style="resize: none; width: 100%; height:20vw; overflow-y:scroll;padding: .5vw;">There are no comments at this time.</textarea>
					{% endif %}
				</div>
			</div>

		</div>
		
	</div>
<script>
	$(document).ready(function(e){

	});

	for(var j=0; j < $('.rating').length; j++){
		if($('.rating:nth('+j+')').html() == "Low"){
			$('.rating:nth('+j+')').css('background', '#1692cc');
			$('.rating:nth('+j+')').css('color', 'white');
		}
		else if($('.rating:nth('+j+')').html() == "Med"){
			$('.rating:nth('+j+')').css('background', '#efaa3b');
			$('.rating:nth('+j+')').css('color', 'white');
		}
		else if($('.rating:nth('+j+')').html() == "High"){
			$('.rating:nth('+j+')').css('background', '#af2a2a');
			$('.rating:nth('+j+')').css('color', 'white');
		}
		else if($('.rating:nth('+j+')').html() == "N/A"){
			$('.rating:nth('+j+')').css('background', 'gray');
			$('.rating:nth('+j+')').css('color', 'white');
		}
	}

	for(var j=0; j < $('.natural_process').length; j++){
		if($('.natural_process:nth('+j+')').html() == "Full Restoration"){
			$('.natural_process:nth('+j+')').css('background', '#008000');
			$('.natural_process:nth('+j+')').css('color', 'white');
		}
		else if($('.natural_process:nth('+j+')').html() == "Partial Restoration"){
			$('.natural_process:nth('+j+')').css('background', '#1692cc');
			$('.natural_process:nth('+j+')').css('color', 'white');
		}
		else if($('.natural_process:nth('+j+')').html() == "Habitat Creation"){
			$('.natural_process:nth('+j+')').css('background', '#a01c1c');
			$('.natural_process:nth('+j+')').css('color', 'white');
			//$('.natural_process:nth('+j+')').css('border', '.2vw solid black');
		}
	}
	
</script>
{% endblock %}