h3{
	margin:1vw;
}
@font-face{
	font-family: 'myBrownFont';
	src: url(https://lineto.com/The+Fonts/Font+Categories/Text+Fonts/Brown/Regular/);
}
.mainImage{
	width: 100vw;
}
#aboutTabs a{
	color: #ef9502;
	font-size: 1vw;
	border-radius: 0;
}
#aboutTabs li.active a{
	color: #f3f3f3;
}
#aboutTabs a:hover{
	color: #ef9502;
}
#aboutTabs {
	margin-top: 2vw;
    padding-right: 2vw;
    padding-left: 2vw;
    display: inline-block;
    width: 25%;
}
#aboutTabs li{
	border-radius: 0;
}
.tab-content p{
	padding: 1vw;
	padding-left: 2vw;
	padding-right: 2vw;
	font-size: 1vw;
	font-family: 'Calibri';
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background: #ef9502;
	padding: 1vw;
}
.nav-pills>li a{
	padding: 1vw;
}
.tab-content {
	display: inline-block;
    width: 70%;
    vertical-align: top;
}
.subbasin{
	width: 50vw; 
	display: inline-block;
	vertical-align: top;
	margin-left: calc(50% - 25vw);
	margin-bottom: 2vw;
}
.tab-content h3{
    font-size: 2vw;
    margin-left: 2vw;
    font-family: 'Bodoni';
    font-weight: bold;
    color: gray;
}
.quote{
	width: 30%;
    margin-left: 35%;
    margin-top: -1vw;
    margin-bottom: 2.5vw;
    background: #f3f3f3;
    padding-top: 1vw;
    border-radius: 1.25vw;
    position: relative;
}
ul.checks li {
    list-style-type: none;
    margin: 0;
    background: url(/static/images/about/icon-check.png) no-repeat 1px 1px;
    padding-left: 3vw;
    font-size: .75vw;
    background-size: 1vw;
    background-position: left top;
    padding-right: 3vw;
    margin-bottom: 1vw;
}
.content-wrapper{
	-webkit-box-shadow: -1px 5px 16px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 5px 16px 3px rgba(0,0,0,0.75);
	box-shadow: -1px 5px 16px 3px rgba(0,0,0,0.75);
	width: 75vw;
	text-align:left;
}
.tab-pane{
	padding-bottom:2vw;
}