#aboutTabs a{
	color: #ef9502;
	font-size: 2vw;
	border-radius: 0;
}
#aboutTabs li.active a{
	color: #f3f3f3;
}
#aboutTabs a:hover{
	color: #ef9502;
}
#aboutTabs {
	margin-top: 2vw;
	padding-right: 2vw;
	padding-left: 2vw;
}
#aboutTabs li{
	border-radius: 0;
}
.tab-content p{
	padding: 1vw;
	padding-left: 2vw;
	padding-right: 2vw;
	font-size: 2vw;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background: #ef9502;
}
