{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Register</title>
{% endblock%}
{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/register/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div class="login_body">
		<div class="mainImage">
			<img src="{% static 'images/user_login/mainImage.png' %}">
			<h2>Register</h2>
		</div>
		<div>
			<br>
			<form class="regForm" method="POST" action="">{% csrf_token %}
				<div id="inputs">
				<!--
					<input placeholder="Username" required/>
					<input placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required/>
					<input placeholder="Password" type="password" required/>
					<input placeholder="Confirm Password" type="password" required/>
					<input placeholder="First Name" required/>
					<input placeholder="Last Name" required/>
					<input placeholder="Organization (optional)"/>-->
					{{ form }}
					<div style="background: #ececec;margin-left: 40vw;font-size: 1vw; width: 20vw; padding:1vw;">
						<p>
							By clicking "Submit Registration" you are agreeing to the grmw.org <a href="{% static 'documents/terms/terms&conditions.doc' %}">Terms and Conditions</a> and <a href="{% static 'documents/policies/privacypolicy.htm' %}" target="_blank">Privacy Policy</a>.
						</p>
					</div>
					<div class="submitButtons">
						<input class="button" type="submit" value="Submit Registration"/>
					</div>
					<br><br>
				</div>
			</form>
		</div>
	</div>
<script>
	$(document).ready(function(){
		$(".helptext").hide()
		$("#inputs label").hide();
		$("#id_username")[0].placeholder="Username";
		$("#id_email")[0].placeholder="Email";
		$("#id_first_name")[0].placeholder="First Name";
		$("#id_last_name")[0].placeholder="Last Name";
		$("#id_password1")[0].placeholder="Password";
		$("#id_password2")[0].placeholder="Confirm Password";
	});
</script>
{% endblock %}