{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Login</title>
{% endblock%}
{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/user_login/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div class="login_body">
		<div class="mainImage">
			<img src="{% static 'images/user_login/mainImage.png' %}">
			<h2>Login</h2>
		</div>
		<div>
			<div>
				<h3 class="stylized_heading">GRMW Accounts</h3>
				<div class="content"><p>Anyone can create a GRMW account. By creating an account you will be agreeing to GRMW's <a href="{% static 'documents/terms/terms&conditions.doc'%}">terms & conditions</a> and <a href="{% static 'documents/plicies/privacypolicy.htm' %}">privacy policy</a>. Why is creating a GRMW account necessary? GRMW.org uses accounts to track stepwise submissions, which helps provide a personal approach to the stepwise experience. Without an	account it would be difficult to separate the information of one submitter from another while hosting all information related to the submission on our site. 
				Creating an account also helps to protect any personal information that might link you to your stepwise submission. For more information about the stepwise process or 
				questions/concerns related to creating an account, please contact the site administrator at <b>infotech@grmw.org</b>.</p></div>
			</div>
			{% if error %}
			<div>
				<p style="color: red; text-align: center; padding: 1vw; font-weight: bold; margin-top: 1vw; margin-bottom: 1vw; font-size: 1.5vw;">{{ error }}</p>
			</div>
			{% endif %}
			<center>
				<form class="submitLogin" method="GET" action="">
					<div id="inputs">
						<input id="username" name="user" placeholder="username"/>
						<input id="password" name="pass" placeholder="password" type="password"/>
						<input style="display: none" name="redirect" value="{{ redirect }}"/>
						<div style="margin-top: 1vw; width: 25%; padding: 1vw; font-size: 1vw; background: #ececec;"><a href="/login/password/reset">Forgotten Password?</a></div>
						<div class="submitButtons">
							<input id="login" class="button" type="submit" value="Login"/>
							<a href="/accounts/register/"><input id="register" class="button" type="button" value="Register"/></a>
						</div>
					</div>
				</form>
			</center>
		</div>
	</div>
<script>
	
</script>
{% endblock %}