{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Password Reset</title>
{% endblock%}
{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/user_login/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div class="login_body">
		<div class="mainImage">
			<img src="{% static 'images/user_login/mainImage.png' %}">
			<h2>Password Reset</h2>
		</div>
		<div>
			<form class="reset_pass" method="POST" action="">{% csrf_token %}
			<center>
				<div id="inputs" style="width: 20vw;">
					<div style="margin-top:2vw;width: 20vw;padding:1vw; font-size:1vw; background: #ececec;">Please enter the email you used to sign up for your account.</div>
					{{ form }}
					<div style="margin-bottom:2vw; margin-left:0; font-size: 1vw;" class="submitButtons">
						<input id="login" class="button" type="submit" value="Reset Password"/>
					</div>
					<style type="text/css">
						input#id_email{
							width: 100%;
							font-size: 1vw;
						}
						#inputs ul.errorlist {
							margin-left:0 !important;
						    width: 100%;
						    padding-left:0 !important;
						}
					</style>
				</div>
			<center>
			</form>
		</div>
	</div>
<script>
	$(document).ready(function(){
		$(".reset_pass label").hide();
		$("#id_email")[0].placeholder = "Email";
	});
</script>
{% endblock %}