{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Password Reset</title>
{% endblock%}
{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/user_login/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div class="login_body">
		<div class="mainImage">
			<img src="{% static 'images/user_login/mainImage.png' %}">
			<h2>Password Reset</h2>
		</div>
		<div>
			<form class="reset_pass" method="POST" action="">{% csrf_token %}
				<div id="inputs">
					<div style="margin-top:1vw;margin-left: 40vw;width: 20vw;padding:1vw; font-size:1vw; background: #ececec;">Please enter the email you used to sign up for your account.</div>
					{{ form }}
					<div class="submitButtons">
						<input id="login" class="button" type="submit" value="Reset Password"/>
					</div>
				</div>
			</form>
		</div>
	</div>
<script>
	$(document).ready(function(){
		$(".reset_pass label").hide();
		$("#id_email")[0].placeholder = "Email";
	});
</script>
{% endblock %}