{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Password Reset</title>
{% endblock%}
{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/user_login/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div class="login_body">
		<div class="mainImage">
			<img src="{% static 'images/user_login/mainImage.png' %}">
			<h2>Password Reset</h2>
		</div>
		<div>
			<form class="reset_pass" method="POST" action="">{% csrf_token %}
			<center>
				<div style="width: 20vw;" id="inputs">
					<div style="margin-top:2vw; width: 20vw;padding:1vw; font-size:1vw; background: #ececec;">Please enter a new password for your account.</div>
					{{ form }}
					<div style="margin-left: 0;margin-bottom: 2vw; font-size: 1vw;" class="submitButtons">
						<input id="login" class="button" type="submit" value="Reset Password"/>
					</div>
					<style type="text/css">
						input#id_new_password1,
						input#id_new_password2{
							width: 100%;
							font-size: 1vw;
						}
						#inputs ul.errorlist {
							margin-left:0 !important;
						    width: 100%;
						    padding-left:0 !important;
						}
					</style>
				</div>
			<center>
			</form>
		</div>
	</div>
<script>
	$(document).ready(function(){
		$(".reset_pass .helptext").hide();
		$(".reset_pass label").hide();
		$(".reset_pass br").remove();
		$("#id_new_password1")[0].placeholder = "New Password";
		$("#id_new_password2")[0].placeholder = "Confirm New Password";

	});
</script>
{% endblock %}