{% extends 'header.html' %}

{% load staticfiles %}
{% block title %}
	<title>GRMW Password Reset</title>
{% endblock%}
{% block head %}
	<link rel="stylesheet" href="{% static 'CSS/user_login/style.css' %}" type="text/css">
{% endblock %}

{% block content %}
	<div class="login_body">
		<div class="mainImage">
			<img src="{% static 'images/user_login/mainImage.png' %}">
			<h2>Password Reset</h2>
		</div>
		<div>
			<center style="padding: 2vw; font-size: 1.5vw">We have sent an email to the supplied email. Please check your email for further instructions. If you require additional assistance, you may contact the site administrator at <b>infotech@grmw.org</b>. Thank you for your patience.</center>
		</div>
	</div>
<script>
	
</script>
{% endblock %}