th {
    text-align: center;
    color: white;
    background: #ef9502;
    font-size: 1.25vw;
}
td{
	padding: .5vw;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
}
td a{
	color: #ef9502;
}
td:first-child {
    text-align: left;
}
th:first-child{
	text-align:left;
	padding-left: .5vw;
}
th:last-child{
	padding-right: 1vw;
    text-align: right;
}
td:last-child{
	padding-right: 1vw;
    text-align: right;
}
.mainImage {
	width: 100vw;
	height: 30vw;
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: 99.4vw;
  	position: relative;
}
.mainImage h2 {
    vertical-align: bottom;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 1vw;
    color: #ef9502;
    background: #f3f3f3;
    -webkit-border-top-right-radius: .5vw;
    -moz-border-radius-topright: .5vw;
    border-top-right-radius: .5vw;
    font-size: 2vw;
}
.thumbnailImage {
	width: 10vw;
	height: 8vw;
}
#genInfo p {
	padding-left:1vw;
}
#status div {
    display: inline-block;
    font-size: 2vw;
    padding: .5vw;
    padding-top: 0;
    padding-bottom: 0;
    background: #2cb14b;
    color: white;
    margin-left: 1vw;
    border-radius: .5vw .5vw .5vw .5vw;
    -moz-border-radius: .5vw .5vw .5vw .5vw;
    -webkit-border-radius: .5vw .5vw .5vw .5vw;
    border: 0px solid #000000;
    font-size: 2vw;
}

div#status {
    margin: 0 auto;
    display: inline-block;
    display: inline-block;
    margin-bottom: 2vw;
    width: 30vw;
    margin-left: 20vw;
}

.inline-year{
	display: inline-block;
    width: 15vw;
    vertical-align: top;
}

#status h2 {
    display: inline-block;
    margin-top: 0;
    font-size: 2.5vw;
}

img#orthoThumb {
    width: 50vw;
    margin-left: 25vw;
}
div#video_gallery h3,
div#docs h3,
div#contracts h3,
div#organizations h3,
div#contacts h3,
div#sites h3,
div#description h3 {
    background: #ef9502;
    color: white;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    margin-bottom: 0;
    padding: 1vw;
    text-align: center;
    border-radius: .5vw .5vw 0px 0px;
    -moz-border-radius: .5vw .5vw 0px 0px;
    -webkit-border-radius: .5vw .5vw 0px 0px;
    border: 0px solid #000000;
    font-family: sans-serif;
    font-weight: bold;
    font-size:2.25vw;
}

.content{
	background: #ececec;
	margin-left:2vw;
	margin-right:2vw;
}
.contentTable{
	background: #ececec;
}
#docs .contentTable,
#contracts .contentTable,
#organizations .contentTable,
#contacts .contentTable,
#sites .contentTable{
	width: 46vw;
	margin-left: 2vw;
}
#contracts .contentTable,
#contacts .contentTable{
	margin-left: 0vw;
}
div#contracts h3,
div#contacts h3{
	margin-left: 0vw;
}
#docs table,
#contracts table,
#orgnaizations table,
#organizations table,
#contacts table,
#sites table {
	width: 100%;
}
div#docs h3,
div#contracts h3,
div#organizations h3,
div#contacts h3,
div#sites h3 {
	width: 46vw;
}
#contracts,
#contacts{
	float:right;
}
.boxA, .boxB {
    padding: 2vw;
    padding-top: 1vw;
    width: 48%;
    display: inline-block;
    vertical-align:top;
}
.content h5 {
    font-weight: bold;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.75vw;
}
#gallery .slider{
	height: 8vw;
	overflow-x: scroll;
    overflow-y: hidden;
}
.inline_block{
	display:inline-block;
}
#video_gallery iframe{
    height: 25.3vw;
    width: 45vw;
    margin-left: 1.75vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
#video_gallery{
	margin-bottom: 2vw;
}
.project_detail_body p{
	font-size: 1.5vw;
}