p{
	margin-bottom: .2vw;
	font-size: 1vw;	
}
hr {
    /* color: black; */
    background-color: gray;
    height: .1vw;
    opacity: .15;
}
html,
body {
	height: 100%;
	width: 100%;
	background: #f3f3f3;
}
body::-webkit-scrollbar{
	display: none;
}
h2{
	margin-top: .5vw;
	margin-bottom: .5vw;
}
.logo {
	width: 15%;
    margin-left: calc(50% - 7.5%);
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.loginSnip{
	font-size: 1vw;
    display: inline-block;
    font-weight: bold;
    color: #ef9502;
    vertical-align: bottom;
    float: right;
    margin-right: 2vw;
    margin-top: 4.7vw;
}
.loginSnip a{
	color: #ef9502;
}
.footer{
	width: 100%;
    color: white;
    background: #4E7DB8;
    padding: 2vw;
}
.footer h3{
	font-family: 'Gill Sans';
	font-size: 2vw;
	margin-left: 1vw;
}
.footer h3:first-child{
	margin-top: 0;
	padding-top:1vw;
}
.container-fluid{
	padding-left: 2px;
	padding-right: 2px;
}
.btn {
	display: inline-block;
}
.footer .btn{
	text-align: center;
	margin-left: .25vw;
	display: inline-block;
}
.contact,
.about {
	width: 30vw;
	font-size: 1.5vw;
	font-family: 'bodoni';
	margin-left: 1vw;

}
.subtext{
	font-size: 1.5vw;
	font-family: 'bodoni';
}
p.contact.subtext {
    width: 17vw;
    vertical-align: top;
}
h3.findUsLG{
	margin-top: 1vw;
}
#map,
#walMap{
	width: 15vw;
	height: 15vw;
}
.navBarLinks {
	display: block;
    background: #ef9502;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
    margin-right: -2px;
    -webkit-box-shadow: -9px 9px 20px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 9px 20px -9px rgba(0,0,0,0.75);
    box-shadow: -9px 9px 20px -9px rgba(0,0,0,0.75);
}
.navBarLinks tbody {
	display: inline-block;
}
.navBarLinks tr {
	margin-left: 10%;
}
.navBarLinks th {
	display: inline-block;
    color: #ffffff;
    font-size: calc(.75vw + .75vh);
    font-family: "Bodoni MT";
    font-weight: bold;
}
.navBarLinks a{
	color: white;
}
.navBarLinks a:hover{
	text-decoration: none;
}
.navBarLinks .btn{
	width: auto !important;
	background: none;
	font-family: "Bodoni MT" !important;
	font-size: 2vw;
    font-weight: bold !important;
    padding: 1vw;
    color: white;
    margin-left: 0;
}
.navBarLinks .btn:hover{
	opacity: .8;
	background: lightgray;
}
.navBarLinks .dropdown-menu{
	width: auto !important;
	background: white;
	width: auto;
	min-width: 0;
}
.navBarLinks .dropdown-item{
	display: block;
	padding-left: 1vw;
	padding-right: 1vw;
	font-size: 1.75vw;
	color: #ef9502;
}
.navBarLinks .dropdown-item:hover{
	opacity: .8;
	background: lightgray;
}
#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}
#lightbox .close {
    opacity: 1;
    color: #ffffff;
    background-color: #ef9502;
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    z-index:1032;
}
.thumbnail {
    display: initial;
    padding: 0;
    margin: 0;
    line-height: 0;
    background-color: initial;
    border: none;
    border-radius: 0;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.about.subtext a{
	color: #ef9502;
	text-decoration: none;
	font-weight:bold;
}
.about.subtext a:hover{
	color: #122679;
}
hr {
	margin-top: 1vw;
	margin-bottom: 1vw;
}
.social{
	display: block;
    vertical-align: top;
    margin-top: 2vw;
    margin-left: -.5vw;
}
.social img{
	width:4vw;
	filter: brightness(200000%) contrast(100%);
    -webkit-filter: brightness(200000%) contrast(100%);
}
.credits{
	display: inline-block;
    width: 17vw;
    vertical-align: top;
    margin-left: 1vw;
    font-family: 'bodoni MT';
}
.credits h3{
	margin-left: 0;
}
.credits p{
	padding: 0;
	margin: 0;
	margin-top:1vw;
	font-size: 1.25vw;

}
.credits a{
	color: #ef9502;
	font-weight: bold;
}
.credits a:hover{
	color: #122679;
	text-decoration: none;
}
.data {
	margin-left: calc(9.5vw + 9.5vh);
}
#back_to_top{
	position: absolute;
	top:0;
	left: calc(50% - 10vw);
	left: -moz-calc(50% - 10vw);
	left: -webkit-calc(50% - 10vw);
	width: 20vw;
	text-align: center;
	z-index: 100;
	opacity: .75;
	background: #ef9502;
	display: none;
}
#back_to_top:hover{
	cursor: pointer;
	opacity: 1;
	border: .25vw solid #4E7DB8;
	border-top: none;
}
#back_to_top p{
	opacity: 1 !important;
	font-size: 1.5vw;
	color: white;
}
#notifBox{
    position: absolute;
    display: none;
    background: #ffffff;
    border: .2vw solid black;
    z-index: 100;
    width: 50%;
    left: 0;
    margin-left: 25%;
}
#notifBox div{
	padding: 2vw;
}
#notifBox p{
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size: 1vw;
}
#notifBox .notifHead{
	margin-top:0;
	text-align: center;
	font-size: 1.5vw;
}
.ok_close, .link_button{
	color: white;
    padding: .5vw;
    background: #ef9502;
    -webkit-border-radius: .5vw;
    -moz-border-radius: .5vw;
    border-radius: .5vw;
    font-size: 1vw;
    font-weight: bold;    
    border:0;
    outline:0;
    display: inline-block;
    margin-bottom: 1vw;
}
.ok_close:hover, .link_button:hover{
	background: #4e7db8;
    cursor: pointer;
    text-decoration: none;
}
#loader{
	width: 2vw;
	display: none;
	vertical-align: top;
}
@media screen and (min-width: 1500px){

	div#page_header {
	    width: 100vw;
	    margin-left: -12.5vw;
	}

	.mainImage {
	    position: relative;
	    width: 100vw;
	    margin-left: -12.5vw;
	}
	.footer {
	    width: 100vw;
	    color: white;
	    background: #4E7DB8;
	    padding: 2vw;
	    margin-left: -12.5vw;
	}
	.container-fluid {
	    padding-left: 2px;
	    padding-right: 2px;
	    width: 75vw;
	}

	.opp_edit, .bsr_edit {
	    font-size: 1vw;
	}
	.navBarLinks .btn {
	    width: auto !important;
	    background: none;
	    font-family: "Bodoni MT" !important;
	    font-size: 1.5vw;
	    font-weight: bold !important;
	    color: white;
	    margin-left: 0;
	    padding-left: 1vw;
	    padding-right: 1vw;
	    padding-top: .5vw;
	    padding-bottom: .5vw;
	}
	.navBarLinks .dropdown-item {
	    display: block;
	    padding-left: 1vw;
	    padding-right: 1vw;
	    font-size: 1vw;
	    color: #ef9502;
	}
}