html,
body {
	height: 100%;
	width: 100%;
	background: #f3f3f3;
}
body::-webkit-scrollbar{
	display: none;
}
.logo {
	width: 15%;
    margin-left: calc(50% - 7.5%);
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.footer{
	width: 100%;
	color: black;
	/*background: #4a6782;*/
}
.footer h3{
	font-family: 'Gill Sans';
	font-size: 2vw;
	margin-left: 1vw;
}
.footer h3:first-child{
	margin-top: 0;
	padding-top:1vw;
}
.container-fluid{
	padding-left: 2px;
	padding-right: 2px;
}
.btn {
	width: 23.5vw;
	margin-left: 1vw;
	display: inline-block;
}
.contact,
.about {
	width: 30vw;
	font-size: 1.5vw;
	font-family: 'bodoni';
	margin-left: 1vw;

}
.subtext{
	font-size: 1.5vw;
	font-family: 'bodoni';
}
p.contact.subtext {
    width: 17vw;
    vertical-align: top;
}
h3.findUsLG{
	margin-top: 1vw;
}
#map,
#walMap{
	width: 27vw;
	height: 22vw;
}
@media screen and (max-width: 800px){
	.btn{
		width: 97vw;
		text-align: center;
	}
}
.navBarLinks {
	display: block;
	background: #ef9502;
	margin-top: .1%;
	margin-right: .1%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 50;
}
.navBarLinks tbody {
	display: inline-block;
}
.navBarLinks tr {
	margin-left: 10%;
}
.navBarLinks th {
	display: inline-block;
    color: #ffffff;
    font-size: calc(.75vw + .75vh);
    font-family: "Bodoni MT";
    font-weight: bold;
}
.navBarLinks a{
	color: white;
}
.navBarLinks a:hover{
	text-decoration: none;
}
.navBarLinks .btn{
	width: auto !important;
	background: #ef9502;
	font-family: "Bodoni MT" !important;
	font-size: calc(.75vw + .75vh);
    font-weight: bold !important;
    padding: 1vw;
    color: white;
    margin-left: 0;
}
.navBarLinks .btn:hover{
	opacity: .8;
	background: lightgray;
}
.navBarLinks .dropdown-menu{
	width: auto !important;
	background: white;
	width: auto;
	min-width: 0;
}
.navBarLinks .dropdown-item{
	display: block;
	padding-left: 1vw;
	padding-right: 1vw;
	font-size: calc(.75vw + .75vh);
	color: #ef9502;
}
.navBarLinks .dropdown-item:hover{
	opacity: .8;
	background: lightgray;
}