<!DOCTYPE html>
<html>
<head>
	{% block title %}
	{% endblock %}
	<meta charset="utf-8" />

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	
	<!-- Bootstrap social-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css">

	<!-- google api css -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


	{% block head %}
	{% endblock %}

	{% load staticfiles %}
	<script src="{% static '/js/jquery.dotdotdot.min.js' %}"></script>
	<script type="text/javascript" src="{% static '\js\jquery.bootstrap-dropdown-hover.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'CSS/style.css' %}" type="text/css" >

</head>
<body>
	<div class="container-fluid">
		<img class="logo" src="{% static 'images/home/logo.png' %}">
		<div style="position: relative;">
			<table class="navBarLinks">
				<tbody>
					<tr>
						<th colspan="1">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="window.location.href='/'">
							    Home
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="/about/">About Us</a>
								<a class="dropdown-item" href="/staff/">Staff</a>
								<a class="dropdown-item" href="/board/">Board of Directors</a>
								<a class="dropdown-item" href="/home/sitemap/">Site Map</a>
							</div>
						</th>
						<th colspan="1">
							<button onclick="window.location.href='/board/meetings'" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Board Meetings
							</button>
						</th>
						<th colspan="1">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Data
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="/database/">Project Database</a>
								<a class="dropdown-item" href="http://grmw.maps.arcgis.com/">ArcGIS online</a>
								<a class="dropdown-item" href="/assessments/">Assessments</a>
								<a class="dropdown-item" href="/stream/">Stream Precipitation & Flow</a>
							</div>
						</th>
						<th colspan="1">
							<button onclick="window.location.href='/education/'" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Education
							</button>
						</th>
						<th colspan="1">
							<button onclick="window.location.href='/stepwise/'" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Stepwise
							</button>
						</th>
						<th colspan="1">
							<button onclick="window.location.href='/atlas/'" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Atlas
							</button>
						</th>
						<script>
							$('[data-toggle="dropdown"]').bootstrapDropdownHover({
							  // see next for specifications
							});
						</script>
					</tr>
				</tbody>
			</table>
		</div>
		{% block content %}
		{% endblock %}
		<div>
			<div class="footer">
				<div style="display: inline-block;">
					<h3>About Us</h3>
					<p class="about subtext">
					The Grande Ronde Model Watershed is a Non-Profit organization that is commited to restoring fish habitat on both private and public lands within the Grande Ronde Basin.<a href="/about/"> Read More...</a></p>
					<div class="contactUs">
						<p class="contact subtext" style="display: inline-block">
							<span style="font-weight: bold; font-size: 1.75vw;">La Grande Office</span><br>
							Address: 1114 'J' Ave<br>
							La Grande, OR 97850<br>
							Email: contact@grmw.org<br>
							Phone: 541.663.0570<br>
							Fax: 541.962.1585<br>
						</p>
						<p class="contact subtext" style="display: inline-block">
							<span style="font-weight: bold; font-size: 1.75vw;">Wallowa Office</span><br>
							Address: 936 W North St.<br>
							Enterprise, OR 97828<br>
							Email: rcoby@grmw.org<br>
							Phone: 541.426.0389<br>
						</p>
					</div>
				</div>
				<div class="credits">
					<h3>Policies & Credits</h3>
					<p>Powered in part by <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></p>
					<p>Vimeo and YouTube icons designed by <a target="_blank" href="http://www.flaticon.com/authors/dave-gandy" >Dave Gandy</a> from Flaticon</p>
					<p>Twitter icon designed by <a target="_blank" href="http://www.flaticon.com/authors/elegant-themes" >Elegant Themes</a> from Flaticon</p>
					<p>Facebook icon designed by <a target="_blank" href="http://www.flaticon.com/authors/icomoon" >Icomoon</a> from Flaticon</p>
				</div>
				<div style="vertical-align: top; display: inline-block; margin-left: 2vw;">
					<div style="display: inline-block; vertical-align:top;">
						<h3 class="findUsLG" style="display:inline-block; vertical-align:top;margin-left:0">La Grande Office</h3>
						<div id="map">
						</div>
					</div>
					<div style="margin-left: 2vw; display: inline-block; vertical-align:top;">
						<h3 class="findUsWal" style="margin-left:0">Wallowa Office</h3>
						<div id="walMap" >
						</div>
					</div>
					<div class="social">
						<a target="_blank" href="https://www.facebook.com/pages/Grande-Ronde-Model-Watershed/138256389544901"><img src="{% static 'images/header/facebook.png' %}"/></a>
						<a target="_blank" href="http://www.youtube.com/user/grmodelwatershed"><img src="{% static 'images/header/youtube.png' %}"/></a>
						<a target="_blank" href="http://vimeo.com/user3679116"><img src="{% static 'images/header/vimeo.png' %}"/></a>
						<a target="_blank" href="https://www.twitter.com/modelwatershed"><img src="{% static 'images/header/twitter.png' %}"/></a>
					</div>
				</div>
			</div>
		</div>
		<div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        <div class="modal-content">
		            <div class="modal-body">
		                <img src="" alt="" />
		            </div>
		        </div>
		    </div>
		</div>
</div>
	</div>
	<script>
		var map;
		var marker;
		var wallowaMap;
		var wallowaMarker;
		var lgLoc = {lat: 45.320, lng: -118.097};
		var walLoc = {lat: 45.4259203, lng: -117.2904193};
		function initMap() {
			// Create a map object and specify the DOM element for display.
			map = new google.maps.Map(document.getElementById('map'), {
				center: lgLoc,
				scrollwheel: true,
				zoom: 17
			});
			marker = new google.maps.Marker({
				position: lgLoc,
				map: map,
				title: 'GRMW - La Grande Office'
			});
			map = new google.maps.Map(document.getElementById('walMap'), {
				center: walLoc,
				scrollwheel: true,
				zoom: 17
			});
			marker = new google.maps.Marker({
				position: walLoc,
				map: map,
				title: 'GRMW - Wallowa Office'
			});
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpBNFyNgmMi3MjRxHmkaAel2z020k1CIw&callback=initMap" async defer>
	</script>
	<script>
		$(document).ready(function() {
		    bindHandlers();
		});
		function bindHandlers(){
			var $lightbox = $('#lightbox');
		    
		    $('[data-target="#lightbox"]').on('click', function(event) {
		        var $img = $(this).find('img'), 
		            src = $img.attr('src'),
		            alt = $img.attr('alt'),
		            css = {
		                'maxWidth': $(window).width() - 100,
		                'maxHeight': $(window).height() - 100
		            };
		    
		        $lightbox.find('img').attr('src', src);
		        $lightbox.find('img').attr('alt', alt);
		        $lightbox.find('img').css(css);
		    });
		    
		    $lightbox.on('shown.bs.modal', function (e) {
		        var $img = $lightbox.find('img');
		            
		        $lightbox.find('.modal-dialog').css({'width': $img.width()});
		    });

		    
		    $( ".panel-box" ).hover(function(e) {
				$(e.target).closest('.panel-box').animate({
					width: '23vw',
					'min-height': '34vw'
				}, 200, function() {
					// Animation complete.
				});
				}, function(e){
					$(e.target).closest('.panel-box').animate({
						width: '22vw',
						'min-height': '33vw'
					});
			});
		}
	</script>
</body>
</html>